{% extends "base_mobile.html" %}

{% block header %}
<div id="search" class="block">
  <form id="kw-search" method="get" action="{{ url('search') }}">
    {% for key, val in defaults.items() %}
      {% if key == 'q' %}{% continue %}{% endif %}
      <input type="hidden" name="{{ key }}" value="{{ val }}" />
    {% endfor %}

    {{ form.q }}

    <a id="search-clear" href="#" title="{{ _('Clear Search') }}">{{ _('Clear Search') }}</a>
  </form>
</div>

<nav id="tabs">
  <ul>
    <li>
      <a id="tab-feed" class="selected" href="#feed">{{ _('Feed') }}</a>
    </li>
    <li>
      <a id="tab-stats" class="" href="#stats">{{ _('Statistics') }}</a>
    </li>
    <li>
      <a id="tab-trends" class="" href="#trends">{{ _('Trends') }}</a>
    </li>
    <li>
      <a id="tab-settings" class="" href="#settings">{{ _('Settings') }}</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div id="feed" class="section selected">
  <div class="block">
    {{ message_list(opinions, defaults=defaults) }}
  </div>

  {% if page and page.has_other_pages() %}
  <div class="pager">
    {% with link_txt = _('&laquo; Newer Feedback')|safe %}
      {% if page.has_previous() %}
        <a class="button prev" href="{{ search_url(
          defaults=form.data, extra={'page': page.previous_page_number()})
        }}">{{ link_txt }}</a>
      {% else %}
        <span class="button disabled prev">{{ link_txt }}</span>
      {% endif %}
    {% endwith %}

    {% with link_txt = _('Older Feedback &raquo;')|safe %}
      {% if page.has_next() %}
        <a class="button next" href="{{ search_url(
          defaults=form.data, extra={'page': page.next_page_number()})
        }}">{{ link_txt }}</a>
      {% else %}
        <span class="button disabled next">{{ link_txt }}</span>
      {% endif %}
    {% endwith %}
  </div>
  {% endif %}
</div>

<form id="filters" method="get" action="{{ url('search') }}">
  <div id="stats" class="section">
    <div id="feed-count" class="block">
      <ul id="message-total">
        {{ big_count_block(opinion_count) }}
      </ul>
    </div>

    {{ overview_block(sent, defaults=defaults) }}

    {# TODO "URL provided?" filter #}

    {{ platforms_block(demo.platform, opinion_count, defaults=defaults) }}

    {{ locales_block(demo.locale, opinion_count, defaults=defaults) }}
  </div>

  <div id="trends" class="section">
    {{ themes_block(terms) }}

    {{ sites_block(sites) }}
  </div>

  <div id="settings" class="section">
    <ul>
      <li class="bar">
        <label for="product">{{ _('Product') }}</label>
        <div class="choice select">
          {{ products_block(products, product) }}
        </div>
      </li>
      <li class="bar">
        <label for="">{{ _('Version') }}</label>
        <div class="choice select">
          {{ versions_block(versions, version) }}
        </div>
      </li>

      {{ when_block(form=form, selected=period, defaults=defaults) }}
      <li>
        <a href="{{ desktop_url }}" class="bar link">
          {{ _('Switch to Desktop Dashboard') }}
        </a>
      </li>
    </ul>
  </div>
</form>
{% endblock %}
