{% extends "base_mobile.html" %}

{% block header %}
<ul>
  <!--
  --><li><a class="selected" href="#feed">{# Title for the list of messages. #}{{ _('Feed') }}</a></li><!--
  --><li><a class="" href="#stats">{{ _('Statistics') }}</a></li><!--
  --><li><a class="" href="#trends">{{ _('Trends') }}</a></li><!--
  -->
</ul>
{% endblock %}

{% block content %}
<div id="feed-count" class="block">
  <ul class="segmented">
    {{ big_count_block(opinion_count) }}
    {{ when_block(form=form, selected=period, defaults=defaults) }}
  </ul>
</div>

<div id="feed">
  <div id="search" class="block">
    <form id="kw-search" method="get" action="{{ url('search') }}">
      {% for key, val in defaults.items() %}
        {% if key == 'q' %}{% continue %}{% endif %}
        <input type="hidden" name="{{ key }}" value="{{ val }}" />
      {% endfor %}
      {{ form.q }}
    </form>
  </div>

  <div class="block">
    {{ message_list(opinions, defaults=defaults) }}
  </div>

  {% if page and page.has_other_pages() %}
  <div class="pager"><!--
    {% with link_txt = _('&laquo; Newer Feedback')|safe %}
      {% if page.has_previous() %}
      --><span class="prev"><a href="{{ search_url(
        defaults=form.data, extra={'page': page.previous_page_number()})
      }}">{{ link_txt }}</a></span><!--
      {% else %}
      --><span class="prev inactive"><del>{{ link_txt }}</del></span><!--
      {% endif %}
    {% endwith %}

    {% with link_txt = _('Older Feedback &raquo;')|safe %}
      {% if page.has_next() %}
      --><span class="next"><a href="{{ search_url(
        defaults=form.data, extra={'page': page.next_page_number()})
      }}">{{ link_txt }}</a></span><!--
      {% else %}
      --><span class="next inactive"><del>{{ link_txt }}</del></span><!--
      {% endif %}
    {% endwith %}
  --></div>
  {% endif %}
</div>

<div id="stats">
  <form id="filters" method="get" action="{{ url('search') }}">
    <input type="hidden" name="product" value="{{ request.default_prod.short }}" />

    {{ overview_block(sent, defaults=defaults) }}

    {# TODO "URL provided?" filter #}

    {{ platforms_block(demo.platform, opinion_count, defaults=defaults) }}

    {{ locales_block(demo.locale, opinion_count, defaults=defaults) }}
  </form>
</div>

<div id="trends">
  {{ themes_block(terms) }}

  {{ sites_block(sites) }}
</div>
{% endblock %}
