@font-face {
    font-family: MetaBold;
    font-weight: bold;
    src: local("Meta Bold-Roman"), local("MetaBold-Roman");
    }

@font-face {
    font-family: MetaRoman;
    src: local("Meta Book-Roman"), local("MetaBook-Roman");
    }


html {
    background: #78B7D7;
    background: -moz-linear-gradient(-90deg, #357798 0, #78B7D7 300px);
    background: #f8f8f8;
    background: url(../img/body-bg-top.png) repeat-x 0 60px, url(../img/body-bg.png);
    color: #4B4742;
    font: 13px Helvetica, Arial, sans-serif;
    line-height: 1;
    }


.funnel {
    max-width: 1410px;
    padding: 0 20px;
    margin: 0 auto;
    }
    .row {
        display: block;
        }
        .col {
            display: inline-block;
            vertical-align: top;
            width: 21.27%; /* = 200 / 940 */
            margin-left: 2.12%; /* = 20 / 940 */
            }
        .col:first-child {
            margin-left: 0;
            }
        .col.wide {
            width: 53.19%; /* = 500 / 940 */
            }


a {
    color: #4497c7;
    text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        }

header, footer, article, section { display: block; }


.block {
    position: relative;
    background: #fff;
    color: #3d3f40;
    -moz-border-radius: 5px;
    -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0, .25), 0 1px 2px rgba(0,0,0, .25);
    -moz-box-sizing: border-box;
    padding: 15px;
    margin-bottom: 15px;
    }
    .block h2, .block h3 {
        margin-bottom: 7px;
        font-weight: bold;
        text-transform: uppercase;
        }
    .block h2 {
        font-size: 18px;
        letter-spacing: 3px;
        }
    .block h3 {
        font-size: 11px;
        color: #797d80;
        letter-spacing: 2px;
        }


.segments {
    padding-top: 0;
    padding-bottom: 0;
    }
    .segments > div {
        position: relative;
        padding: 15px 0;
        border-top: 1px dotted #b6bcc0;
        font-size: 11px;
        }
    .segments > div:first-child {
        border-top: 0;
        }
        .segments > div > h2,
        .segments > div > h3 {
            margin-bottom: 0;
            }
        .segments > div > .toggle {
            position: absolute;
            right: 0;
            top: 15px;
            width: 12px;
            height: 12px;
            background: #dbdee0 url(../img/up-white.png) no-repeat center center;
            -moz-border-radius: 6px;
            }
        .segments > div > .toggle:hover {
            background-color: #b6bcc0;
            }
        .segments > div.collapsed > .toggle {
            background-image: url(../img/down-white.png);
            }
            .segments > div > .toggle > span {
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;
                }
        .segments > div > ul,
        .segments > div > div {
            margin-top: 7px;
            }
        .segments > div.collapsed > ul,
        .segments > div.collapsed > div {
            display: none;
            opacity: 0;
            }


.bars {
    }
    .bars li {
        position: relative;
        margin-top: 4px;
        }
        .bar {
            position: relative;
            display: block;
            height: 20px;
            color: inherit;
            overflow: hidden;
            white-space: nowrap;
            }
        .bar:hover {
            background: #f7fbfd;
            background: #f4f4f4;
            }
            .bar strong,
            .bar .perc,
            .bar .count {
                position: relative;
                line-height: 20px;
                z-index: 1;
                }
            .bar .perc,
            .bar .count {
                color: #808080;
                }
            .bar strong {
                margin-left: 4px;
                }
            a.bar:hover strong,
            label.bar:hover strong {
                text-decoration: underline;
                }
            .bar .bg {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: #EEF6FA;
                background: #ddedf5;
                }
            .bar:hover .bg {
                background: #ddedf5;
                }
            .bar .perc {
                }
            .bar:hover .perc {
                display: none;
                }
            .bar .perc:before {
                content: '(';
                }
            .bar .perc:after {
                content: ')';
                }
            .bar .count {
                display: none;
                position: absolute;
                right: 4px;
                }
            .bar:hover .count {
                display: inline;
                }
        .bar.selected {
            }
            .bar.selected strong {
                font-weight: bold;
                }
            .bar.selected .bg,
            .bar.selected .perc,
            .bar.selected .count {
                display: none;
                }



.filters {
    padding-top: 0;
    padding-bottom: 0;
    }
    .filter {
        font-size: 11px;
        }
        .filter ul {
            margin-left: 18px;
            }
            .filter li {
                position: relative;
                }
                .filter li input {
                    position: absolute;
                    left: -18px;
                    top: 4px;
                    }


.messages {
    }
    .message {
        position: relative;
        padding: 15px 0;
        border-top: 1px dotted #b6bcc0;
        }
    .message:first-child {
        border-top: 0;
        }
        .message .type {
            position: absolute;
            left: 0;
            top: 15px;
            width: 24px;
            height: 24px;
            background: transparent no-repeat center center;
            }
        .message .type.praise {
            background-image: url(../img/msg-praise.png);
            }
        .message .type.issue {
            background-image: url(../img/msg-issue.png);
            }
            .message .type > span {
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;
                }
        .message .body,
        .message .meta {
            margin: 0 36px;
            }
        .message .body {
            font-size: 14px;
            line-height: 18px;
            }
            .message .body strong {
                font-weight: bold;
                }
        .message .meta {
            margin-top: 2px;
            font-size: 11px;
            color: #808080;
            }
            .message .meta li {
                display: inline;
                }
            .message .meta li:before {
                content: '\02022';
                margin: 0 .5em;
                }
            .message .meta li:first-child:before {
                content: none;
                margin: 0;
                }
                .message .meta li a {
                    color: inherit;
                    }
        .message .options {
            position: absolute;
            right: 0;
            top: 15px;
            }
            .message .options > a {
                position: absolute;
                right: 0;
                top: 0;
                width: 16px;
                height: 16px;
                background: #edeeef url("../img/down-white.png") no-repeat scroll center center;
                -moz-border-radius: 3px;
                }
/*
            .message:hover .options > a {
                background-color: #B6BCC0;
                }
*/
            .message .options:hover > a {
                background-color: #4497C7;
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                z-index: 2;
                }
                .message .options > a > span {
                    display: block;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    }
            .message .options ul {
                display: none;
                position: absolute;
                right: 0;
                top: 16px;
                width: 10em;
                padding: .5em 0;
                border: 1px solid #fff;
                border: 0;
                background: #4497C7;
                color: #fff;
                text-align: right;
                z-index: 1;
                -moz-border-radius: 4px;
                -moz-border-radius-topright: 0;
                -moz-box-shadow: 0 1px 1px rgba(0,0,0, .25);
                }
            .message .options:hover ul {
                display: block;
                }
                .message .options:hover ul a {
                    display: block;
                    padding: .25em .5em;
                    color: inherit;
                    }


.themes {
    }
    .theme {
        position: relative;
        padding: 15px 0;
        border-top: 1px dotted #b6bcc0;
        }
    .theme:first-child {
        border-top: 0;
        }
        .theme .type {
            position: absolute;
            left: 0;
            top: 15px;
            width: 24px;
            height: 24px;
            background: transparent no-repeat center center;
            }
        .theme .type.praise {
            background-image: url(../img/msg-praise.png);
            }
        .theme .type.issue {
            background-image: url(../img/msg-issue.png);
            }
            .theme .type > span {
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;
                }
        .theme .primary {
            display: block;
            margin-left: 36px;
            font-size: 14px;
            line-height: 17px;
            }
            .theme .primary a {
                color: #326DA1;
                text-decoration: none;
                }
            .theme .primary span {
                display: block;
                font-weight: bold;
                }
                .theme .primary span:hover {
                    text-decoration: underline;
                    }
            .theme .primary .more {
                color: #808080;
                font-size: 11px;
                font-weight: normal;
                line-height: 1;
                }
        .theme .samples {
            margin-left: 48px;
            margin-top: 8px;
            }
            .theme .samples li {
                display: list-item;
                list-style: disc outside;
                margin-top: 4px;
                font-size: 12px;
                line-height: 13px;
                }


.sites {
    }
    .site {
        position: relative;
        padding: 15px 0;
        border-top: 1px dotted #b6bcc0;
        }
    .site:first-child {
        border-top: 0;
        }
        .site .name {
            font-size: 14px;
            font-weight: bold;
            }
            .site .name a {
                color: #326DA1;
                letter-spacing: 1px;
                text-transform: uppercase;
                }
            .site .name .ssl {
                color: #808080;
                }
        .site .meta {
            margin-top: 4px;
            font-size: 11px;
            color: #808080;
            }
            .site .meta li {
                display: inline;
                }
            .site .meta li:before {
                content: '\02022';
                margin: 0 .5em;
                }
            .site .meta li:first-child:before {
                content: none;
                margin: 0;
                }
            .site .meta a {
                color: inherit;
                }
        .site .samples {
            margin-top: 8px;
            margin-left: 12px;
            }
            .site .samples li {
                display: list-item;
                list-style: disc outside;
                margin-top: 4px;
                font-size: 12px;
                line-height: 14px;
                }
            .site .samples li.more {
                color: #808080;
                list-style-type: none;
                }
            .site .samples a {
                color: inherit;
                text-decoration: none;
                }
            .site .samples a:hover {
                color: #4497C7;
                }
                .site .samples a span {
                    color: #808080;
                    }
                .site .samples a:hover span {
                    text-decoration: underline;
                    }



.choices {
    }
    .choice {
        }
    .choice ul {
        }
        .choice li {
            display: inline;
            }
            .choice li a {
                display: inline-block;
                margin-left: .5em;
                background: #f0f0f0;
                color: inherit;
                text-decoration: none;
                line-height: 18px;
                padding: 0 .5em;
                -moz-border-radius: 3px;
                }
            .choice li:first-child a {
                margin-left: 0;
                }
            .choice li a:hover {
                background: #c1dcec;
                }
            .choice li a.selected {
                background: #4497c7;
                color: #fff;
                }
            .choice li a.etc {
                float: right;
                }
                .choice li a.etc > span {
                    -moz-transform: rotate(90deg);
                    }


.trends {
    }
    .trend {
        }


.pager {
    border-top: 1px dotted #b6bcc0;
    padding-top: 15px;
    }
    .pager .next {
        }
    .pager .prev {
        float: right;
        }
    .pager .inactive {
        color: #c0c0c0;
        }


#header {
    background: url(../img/header-bg.png) repeat-x 0 bottom;
    margin-bottom: 30px;
    }
    #header .funnel,
    #header h1,
    #header ul {
        height: 60px;
        }
    #header h1,
    #header ul {
        display: inline-block;
        line-height: 60px;
        vertical-align: middle;
        }
    #header h1 {
        }
        #header h1 a {
            font-family: MetaRoman, Helvetica, Arial, sans-serif;
            font-size: 24px;
            letter-spacing: -1px;
            color: #c8e0f6;
            text-decoration: none;
            text-shadow: 0 -1px 0 rgba(0,0,0, .5);
            }
        #header h1 a:hover {
            text-shadow: 0 -1px 0 rgba(0,0,0, .5), 0 0 4px rgba(255,255,255, .5);
            }
            #header h1 a strong {
                font-family: MetaBold, Helvetica, Arial, sans-serif;
                font-weight: bold;
                letter-spacing: normal;
                color: #fff;
                }
    #header ul {
        margin-left: .5em;
        color: #c8e0f6;
        vertical-align: middle;
        }
        #header li {
            display: inline;
            }
            #header li a {
                margin-left: .25em;
                padding: .33em .66em;
                -moz-border-radius: .25em;
                color: inherit;
                text-decoration: none;
                }
            #header li a:hover {
                background: #2a5b86;
                }
            #header li a.selected {
                background: #326da1;
                color: #fff;
                text-shadow: 0 1px 0 rgba(0,0,0, .5);
                -moz-box-shadow: inset 0 1px 0 rgba(0,0,0, .5);
                }
                #header li a > span {
                    vertical-align: middle;
                    }

#big-count {
    }
    #big-count p {
        font-size: 24px;
        font-weight: bold;
        }

#custom-date {
    margin-top: 7px;
    }
#custom-date.hidden {
    display: none;
    }
    #custom-date input {
        font-size: 10px;
        width: 5.25em;
        }

#kw-search {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 33.3%;
    }
    #kw-search input {
        width: 100%;
        height: 21px;
        line-height: 19px;
        padding: 0 4px;
        padding-left: 20px;
        font-size: 11px;
        border: 1px solid #808080;
        background: url(../img/search.png) no-repeat 4px center;
        -moz-border-radius: 3px;
        -moz-box-sizing: border-box;
        }


#messages,
#themes,
#sites {
    }
    #messages h2,
    #themes h2,
    #sites h2 {
        line-height: 21px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #b6bcc0;
        margin-bottom: 0;
        }
    #messages .exit,
    #themes .exit,
    #sites .exit {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 11px;
        line-height: 21px;
        }
    #message-warning,
    #theme-callout,
    #title-callout {
        padding: 5px;
        background: #DDEDF5;
        color: #3D3F40;
        border-bottom: 1px dotted #b6bcc0;
        }


#messages {
    }
    #message-warning {
        background: #fcfadc url(../img/alert.png) no-repeat 5px center;
        color: #40403b;
        padding-left: 26px;
        }


#themes {
    }
    #theme-callout {
        font-weight: bold;
        }

#uncommon-sites {
    }
    #uncommon-sites li {
        }
    #uncommon-sites a {
        display: block;
        color: #326DA1;
        font-size: 12px;
        line-height: 18px;
        }
    #uncommon-sites .more a {
        color: #808080;
        font-size: 11px;
        margin-top: 6px;
        }


#footer {
    background: url(../img/footer-bg.png) repeat-x left top;
    height: 100px;
    margin-top: 80px;
    }
