#nav-access {
    position: absolute;
    top: -10000px;
}

.choice li {
    margin-right: -3px;
}

.block.prose p {
    margin: 1em 0;
}

/* {{{ Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
*:first-child+html .clearfix { min-height: 0; }
* html .clearfix { height: 1%; }
/* }}} */
/* {{{ Footer */
#footer {
    background-color: #fff;
    display: block;
	text-align: center;
    color: #898378;
	clear: both;
	font-family: verdana;
	font-size: 90%;
	min-height: 120px;
}

* html #footer { height: 345px; }

#footer a:link,
#footer a:visited {
    color: #898378;
	text-decoration: none;
}

#footer a:hover,
#footer a:active {
	color: #69645c;
	text-decoration: underline;
}

#footer-contents {
	width: 880px;
	text-align: left;
	margin: auto;
	padding: 35px;
}

#footer-contents[dir=rtl] {
	text-align: right;
}

#footer-menu,
#footer-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	left: auto;
}

#footer-menu li {
	margin: 0 15px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
	font-weight: bold;
	background: none;
	position: relative;
	width: 105px;
}

#footer-menu li ul {
	margin: 0.5em 0 2em 0;
}

#footer-menu ul li {
	float: none;
	font-size: 85%;
	padding: 0 0 0.4em 0;
	margin: 0;
	font-weight: normal;
	display: block;
	width: auto;
}

#footer #lang_form {
	float: right;
	width: 125px;
}

#footer #lang_form label {
	color: #898378;
	display: block;
	font-weight: bold;
}

#footer #lang_form select {
	width: 140px;
}

#footer #lang_form div { display: inline; }

#footer #copyright {
	clear: both;
	background: url(../img/footer-logo.png) top left no-repeat;
	padding-left: 60px;
}

#footer #copyright p {
	margin-bottom: 0.5em;
	font-size: 85%;
}

#footer #copyright img {
	opacity: 0.6;
	-moz-opacity: 0.6;
}

#footer #copyright a:hover img {
	opacity: 1;
	-moz-opacity: 1;
}

#footer #copyright a:link,
#footer #copyright a:visited {
	font-weight: bold;
}

#footer #copyright a:hover,
#footer #copyright a:active {
	font-weight: bold;
	text-decoration: underline;
}

#footer #footer-links {
	font-size: 85%;
}

#footer-divider hr { display: none; }
#footer-divider { clear: both;}

#footer .languages {
    float: right;
}

/* }}} */
