@font-face {
    font-family: MetaBlack;
    font-weight: bold;
    src: url(https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff) format('woff');
}

@font-face {
    font-family: LeagueGothic;
    src: url('fonts/League_Gothic-webfont.woff') format('woff');
}

html {
    color: #333;
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background: none;
    color: inherit;
}

a {
    color: #0054c9;
    text-decoration: none;
}

.hide {
    display: none;
}

.off-screen {
    left: -9999px;
    position: absolute;
    top: 0;
}

.html-rtl .off-screen {
    left: auto;
    right: -9999px;
}

.button {
	background: -moz-linear-gradient(top, #fff, #e8ecf3);
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(#fff), to(#e8ecf3));
	background: linear-gradient(top, #fff, #e8ecf3);
	border: 1px solid #c9cdd6;
	border-radius: 6px;
	-webkit-box-shadow: 0 -1px 1px #c9cdd6 inset;
	box-shadow: 0 -1px 1px #c9cdd6 inset;
	color: #333;
	display: inline-block;
	font-size: 16px;
	line-height: 36px;
	margin: 0 4px;
	padding: 0 20px;
}
	.button.disabled {
		background: #fff;
		border-color: #e8ecf3;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #999;
	}

.clear {
    clear: both;
}

/** Header */
#header {
	background: #5d88b5;
	border-bottom: 4px solid #74aae4;
}

#search {
    padding: 10px;
	position: relative;
}
    
	#search > div {
		position: relative; /* needed for width: 100% */
	}
	
	#search input {
	    background: url(../img/search_m.png) no-repeat 8px center #fff;
	    border: 0;
		border-radius: 6px;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0, .25) inset;
		box-shadow: 0 2px 2px rgba(0,0,0, .25) inset;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #333;
		font-size: 16px;
		height: 36px;
		line-height: 36px;
		padding: 0 8px 0 36px;
		width: 100%;
	}
	
	#search input:-moz-placeholder {
		color: #999;
	}
	
	#search-clear {
	    background: url(../img/search-close.png) no-repeat center center;
	    bottom: 0;
	    overflow: hidden;
		position: absolute;
		right: 0;
		text-indent: -1000em;
		top: 0;
		width: 36px;
	}
	
	#search #search-clear {
	    display: none;
	}
	
	#search.active #search-clear {
	    display: block;
	}

#message-header {
    background: -moz-linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            -moz-linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0, 0)), to(rgba(0,0,0, .2))),
	            -webkit-gradient(linear, 0 bottom, 0 52, from(rgba(0,0,0, .5)), to(rgba(0,0,0, 0)));
	background: linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
	height: 36px;
	padding: 10px 10px 14px;
}
    
	#message-header a {
		border-radius: 30px 6px 6px 30px;
		border: 1px solid rgba(0,0,0, .2);
		background: -moz-linear-gradient(top, rgba(0,0,0, .1), rgba(0,0,0, .2));
		background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0, .1)), to(rgba(0,0,0, .2)));
		background: linear-gradient(top, rgba(0,0,0, .1), rgba(0,0,0, .2));
		-webkit-box-shadow: 0px -1px 0 rgba(0,0,0, .2) inset,
		                    0px 1px 0 rgba(255,255,255, .125);
		box-shadow: 0px -1px 0 rgba(0,0,0, .2) inset,
		            0px 1px 0 rgba(255,255,255, .125);
		color: #fff;
		display: inline-block;
		font-size: 12px;
		line-height: 34px;
		padding: 0 9px 0 12px;
	}

/** Tabs */
#tabs {
	background: -moz-linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            -moz-linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0, 0)), to(rgba(0,0,0, .2))),
	            -webkit-gradient(linear, 0 bottom, 0 40, from(rgba(0,0,0, .5)), to(rgba(0,0,0, 0)));
	background: linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
	height: 48px;
}
    
	#tabs ul {
		height: 100%;
	}
	
	#tabs li {
		display: inline;
	}
	
	#tabs a {
	    border-left: 1px solid rgba(0,0,0, .25);
		border-right: 1px solid rgba(255,255,255, .125);
	    -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #c6d6e6;
		display: block;
		float: left;
		font-size: 11px;
		height: 100%;
		line-height: 11px;
		overflow: hidden;
		padding-top: 29px;
		position: relative;
		text-align: center;
		text-decoration: none;
		width: 25%;
	}
	
	#tabs li:first-child a {
		border-left-color: transparent;
	}
	
	#tabs li:last-child a {
		border-right-color: transparent;
	}
	
	#tabs a:before {
	    background-image: url(../img/tab-icons.png);
		background-repeat: no-repeat;
		content: '';
		height: 24px;
		left: 0;
		margin: 2px auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;
	}
	
	#tabs a.selected {
		background: -moz-linear-gradient(top, #5d88b5, #74aae4);
		background: -webkit-gradient(linear, 0 top, 0 bottom, from(#5d88b5), to(#74aae4));
		background: linear-gradient(top, #5d88b5, #74aae4);
		border-right-color: transparent;
		color: #fff;
	}

	#tab-feed:before {
	    background-position: 0 0;
	}
	#tab-stats:before {
	    background-position: 0 -24px;
	}
	#tab-trends:before {
	    background-position: 0 -48px;
	}
	#tab-settings:before {
	    background-position: 0 -72px;
	}
	#tab-feed:before {
	    background-position: 0 0;
	}
     
	#tab-feed.selected:before {
	    background-position: -24px 0;
	}
	#tab-stats.selected:before {
	    background-position: -24px -24px;
	}
	#tab-trends.selected:before {
	    background-position: -24px -48px;
	}
	#tab-settings.selected:before {
	    background-position: -24px -72px;
	}
	#tab-feed.selected:before {
	    background-position: -24px 0;
	}

@media (orientation: landscape) and (min-width: 480px) {

	#tabs {
		background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0, 0)), to(rgba(0,0,0, .2))),
		            -webkit-gradient(linear, 0 bottom, 0 36, from(rgba(0,0,0, .5)), to(rgba(0,0,0, 0)));
		height: 40px;
	}
	    
		#tabs a {
			font-size: 18px;
			line-height: 40px;
			padding: 0;
		}
		
		#tabs a:before {
			display: inline-block;
			line-height: 24px;
			margin-right: 6px;
			position: relative;
			vertical-align: -7px;
		}

}

/** Main dashboard page */
.js .section {
    display: none;
}

.js .section.selected {
    display: block;
}

.section h2,
.section .group,
.section .cell {
	border-bottom: 1px solid #ccc;
}
.section .group h2:last-child,
.section .group .cell:last-child {
	border-bottom: 0;
}
.section h2 {
	padding: 6px 10px;
	color: #fff;
	background: -moz-linear-gradient(top, #f0f0f0, #dadada);
	background: -webkit-gradient(linear, 0 top, 0 bottom, from(#f0f0f0), to(#dadada));
	background: linear-gradient(top, #f0f0f0, #dadada);
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
#message-total li {
    font-size: 18px;
    font-weight: normal !important;
    line-height: 18px;
}
	#message-total li strong, .section .bar strong {
		font-weight: bold;
	}
	.section .bar .fullsize {
	}
		.section .bar .fullsize:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	.section .bar .choice {
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		height: 1em;
		margin: auto 0;
		padding: 6px 12px 8px;
		border: 1px solid #c9cdd6;
		border-radius: 6px;
		background: -moz-linear-gradient(top, #ffffff, #e8ecf3);
		background: -webkit-gradient(linear, 0 top, 0 bottom, from(#ffffff), to(#e8ecf3));
		background: linear-gradient(top, #ffffff, #e8ecf3);
		-webkit-box-shadow: 0 -1px 1px #c9cdd6 inset;
		box-shadow: 0 -1px 1px #c9cdd6 inset;
		font-family: inherit;
		font-size: 18px;
		line-height: 1;
	}
	.section .bar .choice select {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		opacity: .000001;
		cursor: pointer;
	}
	.section .collapsible {
		display: block;
	}
	.section .collapsible.collapsed .collapsee {
		display: none;
	}
	
	.section .expandable {
	    display: none;
	}
	.section .expandable.expanded {
		display: block;
	}

.filter-group h2 a {
    color: #000;
    display: block;
}

.bar {
    display: block;
    position: relative;
}

.bar .bg {
    background: #edf4fc;
    border: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
}

.bar label, .bar .label, #message-total li, .expand-filters {
    display: block;
    font-weight: bold;
    padding: 15px 10px;
    position: relative;
}

.bar .percentage {
    color: #999;
    font-weight: normal;
}

.bar .count {
    display: none;
}

.bar input[type=checkbox] {
    display: none;
}

.bar label:after {
    background: url(../img/stat-search.png) no-repeat 0 0;
    bottom: 5px;
    content: '';
    float: right;
    height: 30px;
    width: 30px;
	position: relative;
	text-indent: -9999em;
}

.bar a.expand-filters {
    display: block;
}

/** Messages */
.messages {
}
    .list-item:nth-child(even) {
    	background: #f8f8f8;
    }
	.message {
	    border-bottom: 1px solid #CCCCCC;
	    display: block;
	    font-size: 14px;
		min-height: 32px;
		padding: 10px 10px 10px 52px;
		position: relative;
	}
		.message:before {
		    background: url(../img/smileys.png) no-repeat 0 0;
			content: '';
			height: 32px;
			left: 10px;
			position: absolute;
			top: 10px;
			width: 32px;
		}
		.message.praise:before {
		    background-position: 0px 0;
		}
		.message.issue:before {
		    background-position: -40px 0;
		}
		.message.idea:before {
		    background-position: -80px 0;
		}
		.message h3 {
			display: none;
		}
		.message p {
		    color: #000;
			line-height: 17px;
		}
		.message ul {
			color: #999;
			font-size: 11px;
			line-height: 15px;
			margin-top: 2px;
		}
			.message li {
				display: inline;
			}
			.message li:before {
				content: '\2022';
				margin: 0 5px;
			}
			.message li:first-child:before {
				display: none;
			}
			.message time {
				font-weight: bold;
			}
				.message time a {
					color: inherit;
				}
				.message time a:after {
				    bottom: 0;
					content: '';
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}
			.message .domain {
				display: block;
			}
			.message .domain:before {
				display: none;
			}
	.message.pager {
		padding-left: 10px;
		text-align: center;
	}
		.message.pager:before {
			display: none;
		}
		.message.pager .pushbutton {
			padding: 0 10px;
		}

.pager {
    padding: 0 10px 10px;
    text-align: center;
}
    .pager ul {
        margin-top: 0;
    }
    .pager .button {
        margin-top: 10px;
    }

/** Statistics on dashboard */


/** Single Opinion page */
#opinion #header {
    border-bottom-width: 2px;
}

#message {
}
	#message .message {
		padding: 104px 0 0;
		text-align: center;
	}
		#message .message:before {
		    background-image: url(../img/smileys-large.png);
		    height: 64px;
			left: 0;
			margin: 0 auto;
			right: 0;
			top: 20px;
			width: 64px;
		}
		#message .message.praise:before {
		    background-position: 0 0;
		}
		#message .message.issue:before {
		    background-position: -80px 0;
		}
		#message .message.idea:before {
		    background-position: -160px 0;
		}
		#message .message h3, #message .message p, #message .message ul {
		    margin: 0 10px;
		}
		#message .message p {
			font-size: 21px;
			line-height: 24px;
		}
		#message .message ul {
			margin-top: 10px;
			font-size: 12px;
			line-height: 18px;
		}
	#message .actions {
	    background: #f8f8f8;
	    border-top: 1px solid #ccc;
	    margin: 20px 0 0;
		padding: 5px 10px 15px;
		text-align: center;
	}
    	#message .actions ul {
    		margin-top: 0;
    	}
    	#message .actions li:before {
    		content: '';
    	}
    	#message .actions a {
    	    margin-top: 10px;
    	}
