
/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */

@font-face {
	font-family: 'MetaBlack';
	src: url('../fonts/MetaWebPro-Black.woff') format('woff'),
	     url('../fonts/MetaWebPro-Black.eot');
	font-weight: bold;
}


html {
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
	body {
		background: -moz-linear-gradient(0deg, rgba(255,255,255,.5), rgba(255,255,255,.5)),
		            -moz-linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0,.1)),
		            url(../img/mobile/bg.png);
		min-height: 480px;
	}
	#dev-mask1 { display: none; }
	#dev-mask2 { display: none; }

html.dev {
}	
	html.dev #dev-wrap {
		width: 320px;
		padding-bottom: 480px;
	}
	html.dev #dev-mask1,
	html.dev #dev-mask2 {
		display: block;
		position: fixed;
		background: #000;
		z-index: 1000;
	}
	html.dev #dev-mask1 {
		left: 320px;
		right: 0;
		top: 0;
		bottom: 0;
	}
	html.dev #dev-mask2 {
		left: 0;
		width: 320px;
		top: 480px;
		bottom: 0;
	}	
	
	
article {
	position: relative;
	display: none;
}
	article:target {
		display: block;
	}

	
nav {
	position: absolute;
	z-index: 1;
	right: 0;
}
	nav a {
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 35px;
		color: rgba(0,0,0,0);
		background: url(../img/mobile/back.png) no-repeat center center;
		overflow: hidden;
		-moz-border-radius: 0 0 0 5px;
		border-radius: 0 0 0 5px;
		opacity: .6;
		z-index: 1;
	}
	nav a:active {
		opacity: 1;
	}
	
header {
	padding: 15px;
	font-size: 14px;
	color: #b3cdf0;
	background: url(../img/mobile/bg-top.png);
	background: -moz-linear-gradient(center bottom , #2A4187 0%, #3B69B1 100%);
	-moz-box-shadow: inset 0 -4px 0 rgba(0,0,0,.1);
}
nav + header {
	padding-top: 20px;
}
	header h1,
	header h2 {
		font-family: MetaBlack, "Droid Sans", Helvetica, Arial, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
	}
	header h1 {
		font-size: 21px;
		color: #fff;
	}
	header h2 {
		margin-top: .25em;
		font-size: 16px;
	}
	header p {
		margin-top: .5em;
		line-height: 1.2;
	}


section {
	min-height: 275px;
	padding-top: 5px;
	color: #606060;
	background: -moz-linear-gradient(-90deg, rgba(255,255,255,0) 0, rgba(255,255,255,.6) 120px),
	            url(../img/mobile/bg.png);
	-moz-box-shadow: inset 0 3px 0 rgba(0,0,0,.1);
	-moz-box-sizing: border-box;
}
section.inset {
	padding: 25px 15px 50px;
}
	section .field {
		position: relative;
		margin-bottom: 20px;
	}
	section .blocks {
		border: 1px solid rgba(0,0,0,.2);
		-moz-border-radius: 10px;
		border-radius: 10px;
		-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.05);
		box-shadow: inset 0 -3px 0 rgba(0,0,0,.05);
		font-size: 18px;
		letter-spacing: -.02em;
		background: #fff;
	}
		section .blocks li {
			border-top: 1px solid rgba(0,0,0,.1);
		}
		section .blocks li:first-child {
			border-top: 0;
			-moz-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
		}
		section .blocks li:last-child {
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
		}
			section .blocks li a {
				display: block;
				position: relative;
				padding: 10px 15px;
				padding-left: 75px;
				font-weight: bold;
				text-decoration: none;
				color: #5084C8;
			}
				section .blocks li a span {
					display: table-cell;
					height: 45px;
					vertical-align: middle;
				}
				section .blocks li a .icon {
					position: absolute;
					left: 15px;
					top: 10px;
					width: 45px;
					height: 45px;
				}
			section .blocks li:first-child a {
				-moz-border-radius: 10px 10px 0 0;
				border-radius: 10px 10px 0 0;
			}
			section .blocks li:last-child a {
				padding-bottom: 13px;
				-moz-border-radius: 0 0 10px 10px;
				border-radius: 0 0 10px 10px;
			}
			section .blocks li a:active {
				background: #447BC4;
				color: #fff;
			}
	section .submit {
		margin-top: 20px;
	}
	section label {
		display: block;
		margin-bottom: .25em;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: -.02em;
		color: #585e65;
	}
	section .char-count {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		line-height: 13px;
		color: #838E98;
	}
    section .char-count.low {
        color: #ff8c00;
    }
    section .char-count.verylow {
        color: #ff0000;
    }
	section .warning {
		color: #838e98;
		display: block;
		margin-top: .5em;
		font-size: 12px;
		line-height: 1.3;
	}
	section .warning span {
	    background-color: #FFFFDD;
	    padding: .1em;
	}
	section input[type=url],
	section input[type=text],
	section textarea {
		width: 100%;
		padding: .375em;
		border: 1px solid rgba(0,0,0,.2);
		-moz-border-radius: .25em;
		border-radius: .25em;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0, .1) inset;
		box-shadow: 0 1px 2px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255,.4);
		font-family: inherit;
		font-size: inherit;
		color: #606060;
	}
	section input[type=url]:-moz-placeholder,
	section input[type=text]:-moz-placeholder,
	section textarea:-moz-placeholder {
		color: #a0a0a0;
	}
	section textarea {
		line-height: 1.2;
		resize: none;
	}
	section button,
	div.submit a {
		display:block;
		position: relative;
		width: 100%;
		padding: .5em 0 .4em 0;
		background: -moz-linear-gradient(#83c53c, #519d1b);
		-moz-box-shadow: 0px 3px 0 #438814;
		box-shadow: 0px 3px 0 #438814;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		text-shadow: 0px -1px 0px #4e921d;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
	}
	div.submit a:active,
	section button:active {
		top: 2px;
		box-shadow: 0px 1px 0 #438814,
		            inset 0 1000px 0 rgba(255,255,255,.25);
	}
	div.submit a.waiting,
	div.submit a.disabled,
	section button:disabled {
		background: -moz-linear-gradient(#d6d6d6, #c3c3c3);
		box-shadow: 0px 3px 0 #bababa;
		-moz-box-shadow:0 3px 0 #999;
		text-shadow: 0 -1px 0 #c4c4c4;
	}


footer {
	padding: 20px;
	color: #6d7581;
	font-size: 12px;
	background: -moz-linear-gradient(-90deg, rgba(0,0,0,.1) 0, rgba(0,0,0,0) 3px);
	line-height: 1.5;
	}
	footer a {
		font-weight: bold;
		color: inherit;
		text-decoration: none;
	}
	footer a:hover,
	footer a:active {
		text-decoration: underline;
	}
	footer p {
		margin-top: 1em;
	}


#intro section {
}
	#intro .icon {
		background: url(../img/mobile/type.png) no-repeat 0 0;
	}
	#intro #intro-rate .icon { background-position: 0 0; }
	#intro #intro-broken .icon { background-position: -50px 0; }
	#intro #intro-idea .icon { background-position: -100px 0; }


#rate {
}
	#rate section {
		padding-top: 5px;
	}
	#rate .aspect {
		border-top: 1px solid rgba(255,255,255,.5);
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: 15px 0;
	}
	#rate .aspect:first-child {
		border-top: 0;
	}
	#rate .aspect:last-child {
		border-bottom: 0;
	}
		#rate .aspect h2 {
			display: block;
			margin-bottom: .25em;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: #585e65;
		}
		#rate .aspect li {
			display: inline-block;
			margin: 0 -.15em;
			width: 20%;
			vertical-align: top;
			text-align: center;
		}
			#rate .aspect input {
				display: none;
			}
			#rate .aspect label {
				display: block;
				padding-top: .25em;
				font-size: 10px;
				font-weight: normal;
				text-transform: uppercase;
				color: #838E98;
				cursor: pointer;
			}
				#rate .aspect label b {
					display: block;
					width: 40px;
					height: 40px;
					margin: 5px auto;
					background: url(../img/mobile/ratings.png) no-repeat 0 0;
				}
				#rate .aspect input + label:active,
				#rate .aspect input:checked + label {
					color: #000;
				}

				#rate .aspect input[value="1"] + label b { background-position:    0px 0; }
				#rate .aspect input[value="2"] + label b { background-position:  -50px 0; }
				#rate .aspect input[value="3"] + label b { background-position: -100px 0; }
				#rate .aspect input[value="4"] + label b { background-position: -150px 0; }
				#rate .aspect input[value="5"] + label b { background-position: -200px 0; }

				#rate .aspect input[value="1"] + label:active b { background-position:    0px -50px; }
				#rate .aspect input[value="2"] + label:active b { background-position:  -50px -50px; }
				#rate .aspect input[value="3"] + label:active b { background-position: -100px -50px; }
				#rate .aspect input[value="4"] + label:active b { background-position: -150px -50px; }
				#rate .aspect input[value="5"] + label:active b { background-position: -200px -50px; }

				#rate .aspect input[value="1"]:checked + label b { background-position:    0px -100px; }
				#rate .aspect input[value="2"]:checked + label b { background-position:  -50px -100px; }
				#rate .aspect input[value="3"]:checked + label b { background-position: -100px -100px; }
				#rate .aspect input[value="4"]:checked + label b { background-position: -150px -100px; }
				#rate .aspect input[value="5"]:checked + label b { background-position: -200px -100px; }


#thanks section {
}
	#thanks section a small {
		display: block;
		margin-bottom: .25em;
		font-size: 13px;
		font-weight: normal;
		letter-spacing: normal;
		color: #838E98;
	}
	#thanks section a:active small {
		color: #b9cee9;
	}
	#thanks .icon {
		background: url(../img/mobile/thanks.png) no-repeat 0 0;
	}
	#thanks #thanks-feedback .icon { background-position: 0 0; }
	#thanks #thanks-dashboard .icon { background-position: -50px 0; }
	#thanks #thanks-twitter .icon { background-position: -100px 0; }
	#thanks #thanks-facebook .icon { background-position: -150px 0; }
	#thanks #thanks-planet .icon { background-position: -200px 0; }


.errorlist {
    color: red;
    font-size: 80%;
    font-weight: bold;
    margin-top: .5em;
}

html.js article { display: none; }

html.transitioning {
    overflow: hidden;
}

html.transitioning article {
    position: absolute;
    -moz-transition: top .6s ease-in, bottom .6s ease-in-out;
}

html.transitioning article.entering {
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;
}

