html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
body{text-align:center;}#ft{clear:both;}#doc{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}#doc2{width:73.076em;*width:71.25em;}#doc3{margin:auto 10px;width:auto;}#doc4{width:74.923em;*width:73.05em;}
/* {{{ Page Frame */

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: verdana;
}

#nav-access { display: none; }

#doc {
	width: 950px;
	margin: auto;
	text-align: left;
	position: relative;
	z-index: 1;
}

[dir="rtl"] #doc {
	text-align: right;
}

#doc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#wrapper { min-width: 950px; }

.hide { display: none; }

/* }}} */
/* {{{ Header */

body {
	background: #fff url(../img/background-tile.png) 50% 0 repeat-x;
}

/* }}} */
/* {{{ Footer */

#footer {
	text-align: center;
    color: #898378;
	margin-top: 100px;
	clear: both;
	font-family: verdana;
	font-size: 90%;
	min-height: 345px;
}

* html #footer { height: 345px; }

#footer a:link,
#footer a:visited {
    color: #898378;
	text-decoration: none;
}

#footer a:hover,
#footer a:active {
	color: #69645c;
	text-decoration: underline;
}

#footer-contents {
	width: 880px;
	text-align: left;
	margin: auto;
	padding: 35px;
}

#footer-contents[dir=rtl] {
	text-align: right;
}

#footer-menu,
#footer-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	left: auto;
}

#footer-menu li {
	margin: 0 15px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
	font-weight: bold;
	background: none;
	position: relative;
	width: 105px;
}

#footer-menu li ul {
	margin: 0.5em 0 2em 0;
}

#footer-menu ul li {
	float: none;
	font-size: 85%;
	padding: 0 0 0.4em 0;
	margin: 0;
	font-weight: normal;
	display: block;
	width: auto;
}

#footer #lang_form {
	float: right;
	width: 125px;
}

#footer #lang_form label {
	color: #898378;
	display: block;
	font-weight: bold;
}

#footer #lang_form select {
	width: 140px;
}

#footer #lang_form div { display: inline; }

#footer #copyright {
	clear: both;
	background: url(../img/footer-logo.png) top left no-repeat;
	padding-left: 60px;
}

#footer #copyright p {
	margin-bottom: 0.5em;
	font-size: 85%;
}

#footer #copyright img {
	opacity: 0.6;
	-moz-opacity: 0.6;
}

#footer #copyright a:hover img {
	opacity: 1;
	-moz-opacity: 1;
}

#footer #copyright a:link,
#footer #copyright a:visited {
	font-weight: bold;
}

#footer #copyright a:hover,
#footer #copyright a:active {
	font-weight: bold;
	text-decoration: underline;
}

#footer #footer-links {
	font-size: 85%;
}

#footer-divider hr { display: none; }
#footer-divider { clear: both;}

/* }}} */
/* {{{ Main Feature */

#wrapper {
	background: url(../img/background-feature.jpg) top center no-repeat;
}

/* }}} */
/* {{{ Columns */

#main-content {
	float: left;
	display: inline; /* Fix IE double margin float bug */
    width:auto;
    margin:2em 30px 0;
	font-size: 125%;
}

#sidebar {
	float: left;
	display: inline; /* Fix IE double margin float bug */
	position: relative;
	width: 265px;
	margin: 0 30px 0 0;
	font-size: 110%;
}

#content {
	margin: 0 35px;
	font-size: 110%;
}

/* }}} */
/* {{{ Text and Links */

body {
	font-family: georgia, serif;
	color: #4B4742;
}

a:link,
a:visited {
	text-decoration: none;
	color: #0489b7;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #0489b7;
}

a.external:link,
a.external:visited {
	padding-right: 8px;
}

a.external:hover,
a.external:active {
	padding-right: 8px;
	background: transparent url(../img/external-link.png) center right no-repeat;
}

h1 a.external:link,
h2 a.external:link,
h3 a.external:link,
h4 a.external:link,
h5 a.external:link,
h6 a.external:link,
h1 a.external:visited,
h2 a.external:visited,
h3 a.external:visited,
h4 a.external:visited,
h5 a.external:visited,
h6 a.external:visited {
	padding-right: 16px;
}

h1 a.external:hover,
h2 a.external:hover,
h3 a.external:hover,
h4 a.external:hover,
h5 a.external:hover,
h6 a.external:hover,
h1 a.external:active,
h2 a.external:active,
h3 a.external:active,
h4 a.external:active,
h5 a.external:active,
h6 a.external:active {
	padding-right: 16px;
	background: transparent url(../img/external-link-large.png) center right no-repeat;
}
a.email:link,
a.email:visited {
	padding-right: 16px;
}

a.email:hover,
a.email:hover {
	padding-right: 16px;
	background: transparent url(../img/email-link.png) center right no-repeat;
}

p,
dd,
#content li,
#main-content li {
	line-height: 1.5;
}

#footer a.external:hover,
#footer a.external:hover {
	background-image: url(../img/external-link-footer.png);
}

strong { font-weight: bold; }

em { font-style: italic; }

abbr,
acronym {
	border-bottom :1px dotted #000;
	cursor: help;
}

p,
fieldset,
table,
pre {
	margin-bottom: 1em;
}

/* }}} */
/* {{{ Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: georgia, serif;
	font-weight: normal;
	color: #4b4740;
}

h1 { font-size: 185%; }
h2 { font-size: 170%; }
h3 { font-size: 165%; }
h4 { font-size: 137%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

h1, h2, h3 {
	margin: 1em 0;
}

/* }}} */
/* {{{ Lists */

blockquote {
	margin: 1em;
}

ol,
dl {
	margin: 1em;
}

ol,
dl {
	margin-left:2em;
}

ol li,
ul li ol li {
	list-style: decimal outside;
	background: none;
}

dl dd {
	margin-left:1em;
}

/* }}} */
/* {{{ Table */

td, th { border: 0; }

table.data-table {
	border-top: 1px solid #eee;
}

table.data-table td,
table.data-table th {
	padding: 0.5em 0.5em;
	border-bottom: 1px solid #eee;
}

/* }}} */
/* {{{ Footer */

#footer {
    background:url("../img/footer-portal-border.png") repeat-x scroll center top #FFFFFF;
    clear:both;
    color:#898378;
    font-family:verdana;
    font-size:90%;
    margin-top:100px;
    text-align:center;
    min-height: 120px;
}

* html #footer { height: 120px; }

/* }}} */
/* {{{ Content/Sidebar */

#main-content {
    float: left;
    display: inline; /* Fix IE double margin float bug */
    font-size: 110%;
    min-height: 350px;
}

#sidebar {
    float: left;
    display: inline; /* Fix IE double margin float bug */
    position: relative;
    top: -15px;
    width: 270px;
    margin: 0 30px 0 0;
    font-size: 110%;
}

/* }}} */
/* {{{ Django stuff */
ul.errorlist {
    color: #B72324;
    margin-bottom: .2em;
}
input.placeholder {
    color: #4B4740;
}
/* }}} */
/* {{{ Feedback forms */
.smiley {
    font-family: sans-serif;
}
#feedback #smiley {
    font-size: 2200%;
    position: absolute;
    top: 30px;
    left: 0;
}
#feedback #feedbackform {
    margin-left: 30%;
}
#feedback #id_description {
    font-size: 130%;
}
#feedback #id_description,
#feedback #id_url {
    width: 90%;
}
/* }}} */
/* {{{ Thank you page */
#thanks h1 {
    font-size: 300%;
}
#thanks #next-steps li {
    background: rgba(255, 255, 255, .5);
    border: 1px solid #0489B7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 10px #0489B7;
    -webkit-box-shadow: 2px 2px 10px #0489B7;
    box-shadow: 2px 2px 10px #0489B7;
    display: inline;
    padding: .5em;
    margin: 1em;
}
/* }}} */
/* {{{ Dashboard */
#dashboard #main-content,
#search #main-content {
    width: 100%;
}
#dashboard #search,
#dashboard #overview,
#dashboard #messages {
    display: none;
}
#dashboard .container,
#search .container {
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(75, 71, 66, .5);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 1px 1px 10px rgba(75, 71, 66, .5);
    -webkit-box-shadow: 1px 1px 10px rgba(75, 71, 66, .5);
    box-shadow: 1px 1px 10px rgba(75, 71, 66, .5);
    padding: 10px;
    margin: 0 0 15px;
}
#dashboard .ajax_loading {
    background: transparent url("../img/ajax_loader.gif") no-repeat center top;
    min-height: 20px;
}
#dashboard .container h2,
#search .container h2 {
    margin: 0 0 .5em 0;
}
#dashboard #search {
    text-align: center;
}
#dashboard #id_q {
    min-width: 40%;
}
#dashboard h1,
#search h1 {
    font-size: 225%;
    margin-top: 0;
}
#dashboard #overview,
#dashboard #messages,
#search #results,
#search #overview {
    width: 48%;
}
#dashboard #overview,
#search #results {
    float: left;
}
#dashboard #messages,
#search #overview {
    float: right;
}
#dashboard .prototype {
    display: none;
}
#dashboard #period {
    float: right;
}
#sentiment .emotion {
    float: left;
    text-align: center;
    width: 20%;
}
#sentiment .smiley {
    font-size: 60pt;
}
#sentiment .response {
    border: 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 5px 21%;
    padding: 5px;
    white-space: nowrap;
}
#sentiment .response.total {
    background-color: #76d6ff;
    width: 75%;
}
#sentiment .response.happy {
    background-color: #fffb00;
}
#sentiment .response.sad {
    background-color: #ff2800;
}
.terms .term:after {
    content: ' ';
}
.terms .term {
    margin-right: 1em;
    padding: 2px;
}
.terms .term.w5 { font-size: 160%; }
.terms .term.w4 { font-size: 140%; }
.terms .term.w3 { font-size: 120%; }
.terms .term.w2 { font-size: 100%; }
.terms .term.w1 { font-size: 80%; }
.terms .term.w0 { font-size: 60%; }

#dashboard #messages li,
#search #results li {
    display: block;
    border: 1px solid rgba(75, 71, 66, .5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
#dashboard #messages li.happy {
}
#dashboard #messages li.sad {
}
#dashboard #messages li a.url {
    float: right;
}
#dashboard #messages .urlpreview {
    margin-top: .5em;
}
#dashboard #messages .urlpreview input {
    margin-left: .5em;
    width: 80%;
}
/* }}} */
/* {{{ Search Results */
#search #search_box {
    min-height: 20px;
    margin-bottom: 20px;
}
#search #search_options,
#search #search_form {
    width: 48%;
}
#search #search_options {
    float: left;
}
#search #search_form {
    float: right;
}
#search #results li .smiley {
    float: left;
    font-size: 200%;
    margin-right: .5em;
    vertical-align: middle;
}
/* }}} */
