settings_local.py
*.py[co]
*.sw[po]
pip-log.txt
.DS_Store
vendor
tmp
docs/_gh-pages
build.py
*-min.css
*-all.css
*-min.js
*-all.js
media/data/*tsv.bz2
.coverage
media/js/libs/highcharts.src.js
.#*
locale
