# Django stuff
Django==1.2.1
django-annoying==0.7.4
-e git://github.com/fwenzel/django-mozilla-product-details#egg=django-mozilla-product-details

# DB stuff
MySQL-python==1.2.3c1
-e git://github.com/jbalogh/schematic.git#egg=schematic

# Caching. Possibly want to use the C version here.
python-memcached==1.45
#django-pylibmc==0.2.1

# Term extraction
topia.termextract==1.1.0

# Search
django-haystack==1.0.1-final
Whoosh==0.3.18
