<h2>{{ site.url|without_protocol }}</h2>

<a class="exit" href="{{ url('website_issues') }}">{{ _('Back to all sites &raquo;')|safe }}</a>

<ul class="themes">
  {% for cluster in page.object_list %}
  <li class="theme">
  {% if cluster.positive %}
    <p class="type praise" title="_('Praise')"><span>_('Praise')</span></p>
  {% else %}
    <p class="type issue" title="_('Issue')"><span>_('Issue')</span></p>
  {% endif %}

  <p class="primary"><a href="#">
    <span>{{ cluster.primary_description|as_unicode }}</span>
    {% if cluster.size > 1 %}
    <span class="more">{{ _('{count} similar messages')|f(count=(cluster.size-1|numberfmt)) }}</span>
    {% endif %}
  </a></p>
  <ul class="samples">
    {% for comment in cluster.secondary_comments[:4] %}
    <li>{{ comment.description|as_unicode }}</li>
    {% endfor %}
  </ul>

  </li>
  {% endfor %}
</ul>

{% include "website_issues/paginate_sites.html" %}
