{% extends "base.html" %}

{% block page_title -%}
{{ site.url|strip_protocol }} :: {{ _('Sites') }}
{%- endblock %}
{% block body_id %}website_issues{% endblock %}

{% block content %}

<div class="col left">
  {{ big_count_block(opinion_count) }}
</div>

<div class="col middle wide">
  <div id="messages" class="block">
    <a class="exit" href="{{ site.get_absolute_url() }}">
      {{ _('Back to {domain} &raquo;')|fe(domain=site.url|strip_protocol) }}</a>

    <h2>{{ _('Theme') }}</h2>

    <div id="theme-callout">
      {{ _('Theme for {domain}')|fe(domain=site.url|strip_protocol) }}
    </div>

    {{ message_list(opinions, show_notfound=False) }}

    {# Pagination #}
    {% if page and page.has_other_pages() %}
    <div class="pager">
      {% with link_txt = _('&laquo; Previous Page')|safe %}
        {% if page.has_previous() %}
        <a class="prev" href="?page={{ page.previous_page_number() }}">{{ link_txt }}</a>
        {% else %}
        <span class="prev inactive">{{ link_txt }}</span>
        {% endif %}
      {% endwith %}

      {% with link_txt = _('Next Page &raquo;')|safe %}
        {% if page.has_next() %}
        <a class="next" href="?page={{ page.next_page_number() }}">{{ link_txt }}</a>
        {% else %}
        <span class="next inactive">{{ link_txt }}</span>
        {% endif %}
      {% endwith %}
    </div>
    {% endif %}

  </div>
</div>

{% include "includes/ua_overlay.html" %}

{% endblock %}
