{% extends "base.html" %}
{% block page_title %}{{ _('Themes') }}{% endblock %}
{% block body_id %}themes{% endblock %}

{% block content %}
<div class="col left">
  <form id="filters" class="filters segments block" method="get"
        action="{{ url('themes') }}">
    <div class="choice" id="filter_product">
      <h3>{{ _('Product') }}</h3>
      <div>
        {{ filter_list(products) }}
      </div>
    </div>
    <div class="choice" id="filter_type">
      <h3>{{ _('Type of Feedback') }}</h3>
      <div>
        {{ filter_list(sentiments) }}
      </div>
    </div>
    {# No need to show platforms if there is only one non-All platform #}
    {% if platforms|length > 2 %}
      <div class="choice" id="filter_platform">
        <h3>{{ _('Platform') }}</h3>
        <div>
          {{ filter_list(platforms) }}
        </div>
      </div>
    {% endif %}
  </form>
</div>

<div class="col middle wide">
  <div id="messages" class="block">
    <h2>{{ _('Common Themes') }}</h2>
    {{ theme_list(themes) }}

    {{ pager() }}
  </div>
</div>
{% endblock %}

