{% if themes %}
  <ul class="messages">
    {% for theme in themes %}
    {% with opinion=theme.pivot %}
    <li class="message theme">
      {% if opinion|is_praise  %}
        <p class="type praise" title="{{ _('Praise') }}"><span>{{ _('Praise') }}</span></p>
      {% else %}
        <p class="type issue" title="{{ _('Issue') }}"><span>{{ _('Issue') }}</span></p>
      {% endif %}
        <p class="body primary"><a href="{{ theme.get_absolute_url() }}" title="{{ _('See all opinions') }}"><span>{{ opinion.description }}</span>
        <span class="more">
          {% trans num=(theme.num_opinions-1), count=(theme.num_opinions-1)|numberfmt %}
            {{ count }} similar message
          {% pluralize %}
            {{ count }} similar messages
          {% endtrans %}
        </span></a></p>
        <ul class="samples">
          {% for item in theme.items.select_related(depth=1)[:5] %}
          <li>{{ item.opinion.description }}</li>
          {% endfor %}
        </ul>
        <div class="options">
          <a href="#"><span>{{ _('More Options') }}</span></a>
          <ul>
            {# TODO copy user agent functionality #}
            <!--<li><a href="#">{{ _('Copy User Agent') }}</a></li>-->
            {# L10n: Link to Google Translator #}
            <li><a href="{{ 'http://translate.google.com/'|urlparams(sl='auto', q=opinion.description) }}">{{ _('Translate Message') }}</a></li>
          </ul>
        </div>
        </li>
        {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  {% if show_notfound %}
  <ul class="messages">
    <li id="message-warning">{{ _('No search results found.') }}</li>
  </ul>
  {% endif %}
{% endif %}

