{% extends "base_mobile_old.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}
{% block body_id %}feedback{% endblock %}
{% block global_header %}{% endblock %}

{% block content %}

{% if type == OPINION_IDEA.id: %}
  <div id="{{ div_id }}_mobile">
{% else %}
  <div id="{{ div_id }}">
{% endif %}

  <h2>
    {% if type == OPINION_PRAISE.id: %}
      {{ smiley("happy", "feedback_index_mobile") }}
    {% elif type == OPINION_ISSUE.id: %}
      {{ smiley("sad", "feedback_index_mobile") }}
    {% elif type == OPINION_IDEA.id: %}
    <span title="{{ OPINION_IDEA.pretty }}" class="feedback_submit idea"></span>
    {% endif %}
    {% if type == OPINION_PRAISE.id: %}
      {{ _('Super! Please tell us more!') }}
    {% elif type == OPINION_ISSUE.id: %}
      {{ _('Ack! Please tell us what to fix!') }}
    {% elif type == OPINION_IDEA.id: %}
      {{ _('Awesome! Please enter your idea below:') }}
    {% endif %}
  </h2>
  <form method="post" action="" autocomplete="off">
    {{ csrf() }}
    {{ form.description.errors }}
    <p>{{ form.description }}</p>

    {% if type in (OPINION_PRAISE.id, OPINION_ISSUE.id): %}
      {{ form.url.errors }}
      <p>
        <label>{{ form.add_url }}
          {% trans %}
          Add URL of last visited page?
          {% endtrans %}
        </label>
        {{ form.url }}
      </p>
    {% endif %}

    {% for hidden in form.hidden_fields() %}
      {{ hidden }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors }}
      {% endif %}
    {% endfor %}

    {{ form.errors['__all__'] }}

    <aside>
      <span>{{ _('Please ensure that there is no personally identifiable information here.') }}</span>
    </aside>
    <button type="submit">{{ _('Submit Feedback') }}</button>
  </form>
</div>

{% if type in (OPINION_PRAISE.id, OPINION_ISSUE.id): %}
  <p class="feedback_idea_mobile">
  <img src="{{ MEDIA_URL }}img/idea-box-medium.png" />
  {% trans %}
    Or submit your ideas with our <a href="{{ url_idea }}">idea box</a>!
  {% endtrans %}
  </p>
{% endif %}

{% endblock %}
