{% extends "base_mobile_old.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}
{% block body_id %}feedback{% endblock %}
{% block global_header %}{% endblock %}

{% block content %}

{% if type == OPINION_SUGGESTION: %}
  <div id="{{ div_id }}_mobile">
{% else %}
  <div id="{{ div_id }}">
{% endif %}

  <h2>
    {% if type == OPINION_PRAISE: %}
      {{ smiley("happy", "feedback_index_mobile") }}
    {% elif type == OPINION_ISSUE: %}
      {{ smiley("sad", "feedback_index_mobile") }}
    {% elif type == OPINION_SUGGESTION: %}
    <span title="{{ _('Suggestion') }}" class="feedback_submit suggestion"></span>
    {% endif %}
    {% if type == OPINION_PRAISE: %}
      {{ _('Super! Please tell us more!') }}
    {% elif type == OPINION_ISSUE: %}
      {{ _('Ack! Please tell us what to fix!') }}
    {% elif type == OPINION_SUGGESTION: %}
      {{ _('Awesome! Please make your suggestion below:') }}
    {% endif %}
  </h2>
  <form method="post" action="" autocomplete="off">
    {{ csrf() }}
    {{ form.description.errors|safe }}
    <p>{{ form.description|safe }}</p>

    {% if type in (OPINION_PRAISE, OPINION_ISSUE): %}
      {{ form.url.errors|safe }}
      <p>
        <label>{{ form.add_url|safe }}
          {% trans %}
          Add URL of last visited page?
          {% endtrans %}
        </label>
        {{ form.url|safe }}
      </p>
    {% endif %}

    {% for hidden in form.hidden_fields() %}
      {{ hidden|safe }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors|safe }}
      {% endif %}
    {% endfor %}

    {{ form.errors['__all__']|safe }}

    <aside>
      <span>{{ _('Please ensure that there is no personally identifiable information here.') }}</span>
    </aside>
    <button type="submit">{{ _('Submit Feedback') }}</button>
  </form>
</div>

{% if type in (OPINION_PRAISE, OPINION_ISSUE): %}
  <p class="feedback_suggestion_mobile">
  <img src="{{ MEDIA_URL }}img/suggestion-box-idea-large.png" />
  {% trans %}
    Or submit your ideas with our <a href="{{ url_suggestion }}">suggestion box</a>!
  {% endtrans %}
  </p>
{% endif %}

{% endblock %}
