{% extends "base_mobile.html" %}

{% block page_title %}"{{ opinion.description|truncatewords(15) }}"{% endblock %}
{% block body_id %}opinion{% endblock %}

{% block header %}
  <header id="header">
  	<div id="message-header">
  		<a href="{{ url('dashboard') }}">{{ _('Dashboard') }}</a>
  	</div>
  </header>
{% endblock header %}

{% block content %}
<div class="col middle wide">
  <div id="message" class="block">
    <div class="message {{ opinion.type.short }}">
      <h3 class="type {{ opinion.type.short }}"
        title="{{ opinion.type.pretty }}">
        <span>{{ opinion.type.pretty }}</span>
      </h3>

      <p class="body">{{ opinion.description }}</p>

      <ul class="meta">
        <li>
          <a href="{{ opinion.get_url_path() }}">
            {{ opinion.created|time }}
          </a>
        </li>
        <li><a href="{{ search_url(platform=opinion.platform, defaults=defaults) }}">{{ platform_name(opinion.platform) }}{% if opinion.device %} ({{ opinion.device }}){% endif %}</a></li>
        <li><a href="{{ search_url(locale=opinion.locale, defaults=defaults) }}">{{ locale_name(opinion.locale) }}</a></li>
        {% if opinion.url %}
          <li class="domain"><a href="{{ opinion.url }}" rel="nofollow">{{ opinion.url|strip_protocol }}</a></li>
        {% endif %}
      </ul>

      <div class="actions">
        <ul class="options">
          {# L10n: Link to Google Translator #}
          <li><a href="{{ 'http://translate.google.com/'|urlparams(
            sl='auto', q=opinion.description) }}" target="_blank" class="button">{{
            _('Translate Message') }}</a></li>
          <li><a href="{{ 'http://twitter.com/share'|urlparams(
            url=absolute_url(opinion.get_url_path()),
            text='%s #fxinput' % opinion.description|truncchar(100),
            related='firefox') }}"
            class="button twitter" target="_blank">{{ _('Tweet This') }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
