{% extends "base_feedback_release_mobile.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<article id="intro">
  <header>
  <h1>{{ _('Submit Your Feedback') }}</h1>
  <p>{{ _('Your feedback helps us improve Firefox.') }}</p>
  </header>

  <section class="inset">
    <ul class="blocks">
      <li><a id="intro-rate" href="#rate"><em class="icon"></em> <span>{{ _('Rate Your Experience') }}</span></a></li>
      <li><a id="intro-broken" href="#broken"><em class="icon"></em> <span>{{ _('Report a Site Issue') }}</span></a></li>
      <li><a id="intro-idea" href="#idea"><em class="icon"></em> <span>{{ _('Share an Idea') }}</span></a></li>
    </ul>
  </section>

</article>


<article id="rate">

  <nav>
    <a href="#intro" title="{{ _('Go Back') }}">Go Back</a>
  </nav>

  <header>
    <h1>{{ _('Rate Your Experience') }}</h1>
    <p>{{ _('How would you rate these aspects of Firefox for Mobile?') }}</p>
  </header>

  <section class="inset"><form action="#thanks" method="post">
    {% for question in RATING_USAGE %}
    <div class="aspects">
      <div class="aspect">
        <h2 title="{{ question.help }}">{{ question.pretty }}</h2>
        {{ rating_form[question.short].errors }}
        <ul>
          {% for cid, choice in RATING_CHOICES %}
          <li><input id="a{{ question.id }}-{{ cid }}" name="{{ question.short }}" value="{{ cid }}" type="radio" />
          <label title="{{ choice }}" for="a{{ question.id }}-{{ cid }}"><b></b> {{ choice }}</label></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    {% for hidden in rating_form.hidden_fields() %}
      {{ hidden }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors }}
      {% endif %}
    {% endfor %}

    {{ rating_form.errors['__all__'] }}

    <div class="submit">
        {# L10n: Submitting... is a text shown while waiting for the sending to complete. #}
      <a href="#" data-waittext="{{ _('Submitting Feedback') }}"><span>{{ _('Submit Feedback') }}</span></a><span></span>
      <noscript><button type="submit">{{ _('Submit Feedback') }}</button></noscript>
    </div>

  </form></section>

</article>

<!-- -->

<article id="broken">

  <nav>
    <a href="#intro" title="{{ _('Go Back') }}">{{ _('Go Back') }}</a>
  </nav>

  <header>
    <h1>{{ _('Report a Site Issue') }}</h1>
    <p>{{ _("Does a website look or behave incorrectly in Firefox for Mobile? Provide us some details about the problem and we'll try to fix it.") }}</p>
  </header>

  <section id="broken" class="inset"><form action="#thanks" method="post">
    <div class="field">
      <label>{{ _('What is the URL of the broken site?') }}</label>
      <p>{{ website_form.url }}</p>
      {{ website_form.url.errors }}
    </div>

    <div class="field">
      <label>{{ _('Describe the problem with the website.') }}</label>
      <span id="count-broken-desc" class="char-count" data-max="{{
        website_form.fields.description.max_length }}">{{
        website_form.fields.description.max_length }}</span>
      <p>{{ website_form.description }}</p>
      <p class="warning"><span>{{ _('For your privacy, please ensure that no personally identifiable information is included in your feedback.') }}</span></p>
      {{ website_form.description.errors }}
    </div>

    {% for hidden in website_form.hidden_fields() %}
      {{ hidden }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors }}
      {% endif %}
    {% endfor %}

    {{ website_form.errors['__all__'] }}

    <div class="submit">
        {# L10n: Submitting... is a text shown while waiting for the sending to complete. #}
      <a href="#" data-waittext="{{ _('Submitting Feedback') }}"><span>{{ _('Submit Feedback') }}</span></a><span></span>
      <noscript><button type="submit">{{ _('Submit Feedback') }}</button></noscript>
    </div>

  </form></section>

</article>


<!-- -->

<article id="idea">

  <nav>
    <a href="#intro" title="{{ _('Go Back') }}">{{ _('Go Back') }}</a>
  </nav>

  <header>
    <h1>{{ _('Share an Idea') }}</h1>
    <p>{{ _('Have an idea how Firefox for Mobile could be better? Let us know!') }}</p>
  </header>

  <section id="idea" class="inset"><form action="#thanks" method="post">
    <div class="field">
      <label>{{ _('Describe your idea below.') }}</label>
      <span id="count-idea-desc" class="char-count" data-max="{{
                idea_form.fields.description.max_length }}">{{
                idea_form.fields.description.max_length }}</span>
      {{ idea_form.description }}
      <p class="warning"><span>{{ _('For your privacy, please ensure that no personally identifiable information is included in your feedback.') }}</span></p>
      {{ idea_form.description.errors }}
    </div>

    {% for hidden in idea_form.hidden_fields() %}
      {{ hidden }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors }}
      {% endif %}
    {% endfor %}

    <div class="submit">
        {# L10n: Submitting... is a text shown while waiting for the sending to complete. #}
      <a href="#" data-waittext="{{ _('Submitting Feedback') }}"><span>{{ _('Submit Feedback') }}</span></a><span></span>
      <noscript><button type="submit">{{ _('Submit Feedback') }}</button></noscript>
    </div>

  </form></section>

</article>

<!-- -->

<article id="thanks">

  <header>
    <h1>{{ _('Thanks for Your Feedback') }}</h1>
    <p>
      {% trans %}
      Your feedback will be used to create a better experience in future
      releases of Firefox.
      {% endtrans %}
    </p>
  </header>

  <section class="inset">
   <ul class="blocks">
     <li><a id="thanks-dashboard" href="{{ url('dashboard') }}">
       <em class="icon"></em>
       <span>
         <small>{{ _('See where your feedback goes.') }}</small>
         <strong>{{ _('Feedback Dashboard') }}</strong>
       </span>
     </a></li>

     <li><a id="thanks-twitter" href="http://twitter.com/MozMobile">
       <em class="icon"></em>
       <span>
         <small>{{ _('Follow us on Twitter.') }}</small>
         <strong>{{ _('@MozMobile') }}</strong>
       </span>
     </a></li>

     <li><a id="thanks-facebook" href="http://www.facebook.com/firefoxformobile">
       <em class="icon"></em>
       <span>
         <small>{{ _("Let's be friends!") }}</small>
         <strong>{{ _('Firefox on Facebook') }}</strong>
       </span>
     </a></li>

     <li><a id="thanks-planet" href="http://planet.mozilla.org">
       <em class="icon"></em>
       <span>
         <small>{{ _('Get the latest news on Firefox.') }}</small>
         <strong>{{ _('Planet Mozilla') }}</strong>
       </span>
     </a></li>
   </ul>
  </section>
</article>


{% endblock %}

{% block site_footer %}
{% include "includes/footer_release.html" %}
{% endblock %}
