{% extends "base_mobile.html" %}

{% block page_title %}{{ _('Thanks for Your Feedback') }}{% endblock %}
{% block full_header %}{% endblock %}
{% block site_css %}{{ css('feedback-mobile') }}{% endblock %}

{% block extra_headers %}
<meta name="viewport" content="initial-scale=1" />
{% endblock %}

{% block content %}

<section id="thanks">
  <nav>
    <div class="wrapper">
      <a href="{{ url('feedback') }}">{{ _('Back to Feedback') }}</a>
    </div>
  </nav>
  
  <header>
    <div class="wrapper">
      <h1>{{ _('Give Feedback') }}</h1>
    </div>
  </header>

  <article class="inset">
    <div class="wrapper">
      <header>
        <p><strong>{{ _('Thanks for sharing your feedback!') }}</strong></p>
        <p>{{ _("Want to know what's going on with Firefox for Mobile? We have many ways of staying in touch:") }}</p>
      </header>
      
      <ul class="choices">
        <li id="thanks-dashboard">
          <span>
            <small>{{ _('See where your feedback goes.') }}</small>
            <a href="{{ url('feedback') }}">{{ _('Feedback Dashboard') }}</a>
          </span>
        </li>

        <li id="thanks-twitter">
          <span>
            <small>{{ _('Follow us on Twitter.') }}</small>
            <a href="http://twitter.com/MozMobile">@MozMobile</a>
          </span>
        </li>
        
        <li id="thanks-facebook">
          <span>
            <small>{{ _("Let's be friends.") }}</small>
            <a href="http://www.facebook.com/Firefox">{{ _('Firefox on Facebook') }}</a>
          </span>
        </li>

        <li id="thanks-planet">
          <span>
            <small>{{ _('Get the latest news on Firefox.') }}</small>
            <a href="http://planet.mozilla.org">{{ _('Planet Mozilla') }}</a>
          </span>
        </li>
      </ul>
    </div>
  </article>

</section>
{% endblock %}

{% block footer %}
{% include "includes/footer_feedback.html" %}
{% endblock %}
