{% extends "search_base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block content %}
<h1><a href="{{ url('dashboard') }}">Firefox Input Dashboard</a></h1>

<div id="search_box" class="container clearfix">
  {% include "search/search_form.html" %}
</div>

<noscript>
  <div class="container">
    <h2>Please enable JavaScript to view this page.</h2>
  </div>
</noscript>

<div id="overview">
  <div id="sentiment" class="container">
    <div id="period">{{ period.period|safe }}</div>
    <h2>User Sentiment</h2>
    <div class="ajaxy"></div>
    <div class="prototype">
      <div class="emotion happy">{{ smiley('happy') }}</div>
      <div class="emotion sad">{{ smiley('sad') }}</div>
      <div class="response total">{0} total responses</div>
      <div class="response happy">{0} happy</div>
      <div class="response sad">{0} sad</div>
    </div>
  </div>
  <div id="trends" class="container">
    <h2>Trends</h2>
    <div class="ajaxy terms"></div>
  </div>
  <div id="demo" class="container">
    <h2>Demographics</h2>
    <div class="ajaxy"></div>
  </div>
</div>

<div id="messages" class="container">
  <h2>Last 10 Messages</h2>
  <!-- Show More -->
  <div class="ajaxy"></div>
  <div class="prototype">
    <ul>
      <li>{opinion} <a class="url" href="">(URL)</a></li>
    </ul>
    <div class="urlpreview">
      <a href="">visit &rarr;</a>
      <input type="text"/>
    </div>
  </div>
</div>
{% endblock %}
