{% extends "base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block content %}
<div class="col left">

  <form id="filters" class="filters segments block" method="get" action="{{ url('search') }}">
    {{ app }}

    <div class="choice">
      <h3>{{ _('Product') }}</h3>
      <div>
        {{ products_block(products, product) }}
        {{ versions_block(versions, version) }}
      </div>
    </div>

    {{ when_block(form=search_form) }}

    {{ overview_block(sentiments) }}

    {#
    <div class="filter collapsible collapsed">
      <h3>{{ _('URL Provided?') }}</h3>
      <a class="toggle" href="#" title="{{ _('Show/Hide Options') }}"><span>{{ _('Toggle') }}</span></a>
      <ul class="bars" data-total="10000">
        <li>

          <input id="f21" name="f21" type="checkbox" />
          <label for="f21" class="bar" data-value="2000">
            {# L10n: Refers to messages that *have* a URL provided }
            <strong>{{ _('Provided') }}</strong>
          </label>
        </li>

        <li>
          <input id="f21" name="f21" type="checkbox" />
          <label for="f21" class="bar" data-value="8000">
            {# L10n: Refers to messages that *do not* have a URL provided }
            <strong>{{ _('Not Provided') }}</strong>
          </label>
        </li>
      </ul>
    </div>
    #}

    {{ platforms_block(demo.os, sentiments.total) }}

    {{ locales_block(demo.locale, sentiments.total) }}

  </form>
</div><!--

--><div class="col middle wide">
  {% include "dashboard/includes/feedback_chart.html" %}

  <div id="messages" class="block">
    <h2>{{ _('Latest Feedback') }}</h2>

    <form id="kw-search" method="get" action="{{ url('search') }}">
      <input type="hidden" name="product" value="{{ request.default_app.short }}" />
      {{ search_form.q|safe }}
    </form>

    {{ message_list(opinions) }}

    <div class="pager">
      <span class="prev inactive">{{ _('&laquo; Newer Messages')|safe }}</span>
      <a class="next" href="{{ search_url() }}">{{ _('Older Messages &raquo;')|safe }}</a>
    </div>
  </div>
</div><!--

--><div class="col right">

  {{ big_count_block(opinion_count) }}

  <div id="trends" class="trends segments block">

    {{ themes_block(terms) }}

    {{ sites_block(sites) }}

  </div>
</div>

{% endblock %}
