{% macro locale_item(locale, count=0, selected=False) %}
<li>
  <input id="loc_{{ locale }}" name="locale" type="checkbox"
         title="{{ locale_name(locale, native=True, default='') }}"
         value="{{ locale|default('unknown', True) }}"
         {{ 'checked' if selected else '' }} />
  <label for="loc_{{ locale }}" class="bar {{ 'selected' if selected else '' }}" data-value="{{ count }}">
    <strong>{{ locale_name(locale) }}</strong>
  </label>
</li>
{% endmacro %}

{% if locales %}
<div class="filter collapsible">
  {{ filter_box_toggle(_('Locale')) }}

  <ul class="bars" data-total="{{ total }}">
    {% if defaults['locale'] %}
      {{ locale_item(defaults['locale'], selected=True) }}
    {% else %}
      {% for item in locales %}
      {{ locale_item(item.locale, item.count) }}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
