{% if opinions %}
  <ul class="opinions">
  {% for opinion in opinions %}
    {# search results wrap models inside a result object (fail): #}
    {% if opinion.object %}{% set opinion = opinion.object %}{% endif %}

    <li class="{{ opinion.positive and 'happy' or 'sad' }} clearfix msg">
      {{ smiley(opinion.positive and "happy" or "sad") }}
      <div class="desc">{{ opinion.description }}</div>
      <ul class="msgopt">
        {# L10n: Link to Google Translator #}
        <li><a href="{{ 'http://translate.google.com/'|urlparams(sl='auto', q=opinion.description) }}"
               rel="nofollow" target="_blank" class="trans">{{ _('Translate!') }}</a></li>

        {# L10n: Link to user agent info. #}
        <li><a class="ua" href="#" title="{{ opinion.user_agent }}">{{ _('UA') }}</a></li>

        {% if opinion.url %}
          {# L10n: Link to an opinion's URL. #}
          <li><a class="url" href="{{ opinion.url }}" rel="nofollow">{{ _('URL') }}</a></li>
        {% endif %}
      </ul>

      {% if opinion.url %}
        <div class="urlpreview">
          {# L10n: This is a link to the URL associated with an opinion. #}
          <a href="{{ opinion.url }}" rel="nofollow">{{ _('visit &rarr;') }}</a>
          <input type="text" readonly value="{{ opinion.url }}"/>
        </div>
      {% endif %}
      <div class="uapreview clearfix">
        <span class="os">{{ _('OS: {os_name}')|f(os_name=os_name(opinion.os)) }}</span>
        <span class="locale" title="{{ locale_name(opinion.locale,
          native=True, default='') }}">{{ _('Locale: {locale}')|f(
          locale=locale_name(opinion.locale)) }}</span>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endif %}
