<div class="filter collapsible" id="filter_type">
  {{ filter_box_toggle(_('Type of Feedback')) }}

  <ul class="bars" data-total="{{ sent.total }}">
    {% if defaults['sentiment'] not in ('sad', 'suggestions'): %}
    {% with sel = (defaults['sentiment'] == 'happy') %}
    <li>
    <input id="praise_bar" name="sentiment" value="happy" type="checkbox" {{ 'checked' if sel else '' }} />
    <label for="praise_bar" class="bar {{ 'selected' if sel else '' }}"
      data-value="{{ sent.happy }}"
      data-value-pretty="{{ sent.happy|numberfmt }}">
        {# L10n: Formerly called "happy" #}
        <strong>{{ _('Praise') }}</strong>
      </label>
    </li>
    {% endwith %}
    {% endif %}

    {% if defaults['sentiment'] not in ('happy', 'suggestions'): %}
    {% with sel = (defaults['sentiment'] == 'sad') %}
    <li>
      <input id="issue_bar" name="sentiment" value="sad" type="checkbox" {{ 'checked' if sel else '' }} />
      <label for="issue_bar" class="bar {{ 'selected' if sel else '' }}"
        data-value="{{ sent.sad }}"
        data-value-pretty="{{ sent.sad|numberfmt }}">
        {# L10n: Formerly called "sad" #}
        <strong>{{ _('Issues') }}</strong>
      </label>
    </li>
    {% endwith %}
    {% endif %}

    {% if defaults['sentiment'] not in ('happy', 'sad'): %}
    {% with sel = (defaults['sentiment'] == 'suggestions') %}
    <li>
      <input id="suggestion_bar" name="sentiment" value="suggestions" type="checkbox" {{ 'checked' if sel else '' }} />
      <label for="suggestion_bar" class="bar {{ 'selected' if sel else '' }}"
        data-value="{{ sent.suggestions }}"
        data-value-pretty="{{ sent.suggestions|numberfmt }}">
        <strong>{{ _('Suggestions') }}</strong>
      </label>
    </li>
    {% endwith %}
    {% endif %}
  </ul>
</div>
