{% macro os_item(os, count=0, selected=False) %}
<li>
  <input id="os_{{ os }}" name="os" value="{{ os }}" type="checkbox" {{ 'checked' if selected else '' }} />
  <label for="os_{{ os }}" class="bar {{ 'selected' if selected else '' }}" data-value="{{ count }}">
    <strong>{{ os_name(os) }}</strong>
  </label>
</li>
{% endmacro %}

<div class="filter collapsible">
  <h3>{{ _('Platform') }}</h3>
  {% include "includes/filter_box_toggle.html" %}
  <ul class="bars" data-total="{{ total }}">

    {% if defaults['os'] %}
      {{ os_item(defaults['os'], selected=True) }}
    {% else %}
      {% for item in platforms %}
        {{ os_item(item.os, item.count) }}
      {% endfor %}
    {% endif %}
  </ul>
</div>
