{% macro platform_item(platform, count=0, selected=False) %}
<li>
  <input id="platform_{{ platform }}" name="platform" value="{{ platform }}" type="checkbox" {{ 'checked' if selected else '' }} />
  <label for="platform_{{ platform }}" class="bar {{ 'selected' if selected else '' }}" data-value="{{ count }}">
    <strong>{{ platform_name(platform) }}</strong>
  </label>
</li>
{% endmacro %}

{% if platforms %}
<div class="filter collapsible" id="filter_platform">
  {{ filter_box_toggle(_('Platform')) }}

  <ul class="bars" data-total="{{ total }}">
    {% if defaults['platform'] %}
      {{ platform_item(defaults['platform'], selected=True) }}
    {% else %}
      {% for item in platforms %}
        {% if item.platform %}
          {{ platform_item(item.platform, item.count) }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
