{% macro bar(name, cnt, total, link=None): %}
  {% with width = cnt / total * 75 if total > 0 else 0 %}
    <div class="response {{ name }}">
      <div class="lbl">
        {% if link %}
          <a href="{{ link }}">{{ name }}</a>
        {% else %}
          {{ name }}
        {% endif %}
      </div>
      <div class="bar" style="width: {{ width }}%">
        {% if width > 10 %}{{ cnt }}{% endif %}&nbsp;
      </div>
      {% if width <= 10 %}<div class="out-cnt">{{ cnt }}</div>{% endif %}
    </div>
  {% endwith %}
{% endmacro %}

{% with defaults = form.data if form else None %}
  <div class="emotion {{ sent.sentiment }}">{{ smiley(sent.sentiment) }}</div>
    {{ bar('total', sent.total, sent.total, search_url(defaults=defaults)) }}
    {% if sent.total > 0 %}
      {{ bar('happy', sent.happy, sent.total,
             search_url(defaults=defaults, sentiment='happy')) }}
      {{ bar('sad', sent.sad, sent.total,
             search_url(defaults=defaults, sentiment='sad')) }}
    {% endif %}
{% endwith %}
