{% macro bar(name, desc, cnt, total, link=None): %}
  {% with width = cnt / total * 75 if total > 0 else 0 %}
    <div class="response {{ name }}">
      <div class="lbl">
        {% if link %}
          <a href="{{ link }}">{{ desc }}</a>
        {% else %}
          {{ name }}
        {% endif %}
      </div>
      <div class="bar" style="width: {{ width }}%">
        {% if width > 5 %}{{ cnt|numberfmt }}{% endif %}&nbsp;
      </div>
      {% if width <= 5 %}<div class="out-cnt">{{ cnt|numberfmt }}</div>{% endif %}
    </div>
  {% endwith %}
{% endmacro %}

{% with defaults = form.data if form else None %}
  <div class="emotion {{ sent.sentiment }}">{{
    smiley(sent.sentiment) }}
    {# L10n: Total refers to a message count. #}
    {% trans url=search_url(defaults=defaults),
             count=sent.total|numberfmt %}
      <a href="{{ url }}">Total</a>: {{ count }}
    {% endtrans %}
  </div>
  {% if sent.total > 0 %}
    {{ bar('happy', _('happy'), sent.happy, sent.total,
           search_url(defaults=defaults, sentiment='happy')) }}
    {{ bar('sad', _('sad'), sent.sad, sent.total,
           search_url(defaults=defaults, sentiment='sad')) }}
  {% endif %}
{% endwith %}
