{% macro bar(name, desc, cnt, total, link=None): %}
  {% with perc = cnt / total * 100 if total > 0 else 0 %}
    <div class="response {{ name }}">
      <div class="lbl">
        {% if link %}
          <a href="{{ link }}">{{ desc }}</a>
        {% else %}
          {{ name }}
        {% endif %}
      </div>
      <div class="barwrapper">
        <div class="bar" style="width: {{ perc }}%">
          {% if perc > 5 %}{{ cnt|numberfmt }}{% endif %}&nbsp;
        </div>
      {% if perc <= 5 %}<div class="out-cnt">{{ cnt|numberfmt }}</div>{% endif %}
      </div>

      <div class="perc">{{ perc|int }}%</div>
    </div>
  {% endwith %}
{% endmacro %}

{% with defaults = form.data if form else None %}
 {% if sent.total > 0 %}
    {{ bar('happy', _('Praise'), sent.happy, sent.total,
           search_url(defaults=defaults, sentiment='happy')) }}
    {{ bar('sad', _('Issues'), sent.sad, sent.total,
           search_url(defaults=defaults, sentiment='sad')) }}
  {% endif %}
  <p>
    {# L10n: Total refers to a message count. #}
    {% trans url=search_url(defaults=defaults),
             count=sent.total|numberfmt %}
      <a href="{{ url }}">Total</a>: {{ count }}
    {% endtrans %}
  </p>
 {% endwith %}
