<div id="when" class="choice">
  <h3>{# L10n: Title for a time-based search filter #}{{ _('When') }}</h3>
  <div>
    <ul>
      {% include "dashboard/includes/when_selectors.html" %}
      <li><a id="show-custom-date"
             class="etc {{ 'selected' if selected == 'custom' else ''}}"
             href="#"
             title="{# L10n: Tooltip for custom date range button #}{{ _('Custom') }}"><span>&raquo;</span></a></li>
    </ul>

    <div id="custom-date" class="{{ 'hidden' if selected != 'custom' else ''}}">
      {{ form.date_start }}
      &ndash;
      {{ form.date_end }}
      {# L10n: Button text for setting a custom date range. #}
      <button>{{ _('Set', 'date_range_set') }}</button>

      {{ form.date_start.errors }}
      {{ form.date_end.errors }}
    </div>
  </div>
</div>
