<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1" />
    <title>{% block page_title %}{{ _('Welcome') }}{% endblock %} :: Firefox Input</title>
    <link href="{{ MEDIA_URL }}css/reset-min.css" type="text/css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/input-mobile.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png"/>
    {% block feeds %}{% endblock %}
    {% block extra_headers %}{% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}">
    <div id="header">
      <h1><a href="{{ url('dashboard') }}">
        <strong>Firefox Input</strong> {{ _('Dashboard') }}
      </a></h1>
      {% block header %}{% endblock %}
    </div>

    <div id="body">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/input-mobile.js"></script>
    {% block js %}{% endblock %}

    {% include "includes/webtrends_mobile.html" %}
  </body>
</html>
