<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}{{ _('Welcome') }}{% endblock %} :: Firefox Input</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ MEDIA_URL }}css/reset-min.css" type="text/css" rel="stylesheet">
    <link type="text/css" href="{{ MEDIA_URL }}css/jq-ui-smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="{{ MEDIA_URL }}css/input.css" type="text/css" rel="stylesheet">
    <!--[if IE]><link href="{{ MEDIA_URL }}css/ie.css" rel="stylesheet" type="text/css"><![endif]-->
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png"/>
    {% block feeds %}{% endblock %}
    {% block extra_headers %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    <nav id="nav-access">
    <ul>
      <li><a href="#main-content">{{ _('Proceed to main content') }}</a></li>
      <li><a href="#footer">{{ _('Proceed to footer') }}</a></li>
    </ul>
    </nav>

    <div id="header"><div class="funnel">
      <h1><a href="{{ url('dashboard') }}">
        <strong>Firefox Input</strong> {{ _('Dashboard') }}
      </a></h1>

      <ul>
        <li><a class="dashboard" href="{{ url('dashboard') }}"><span>{{ _('Feedback') }}</span></a></li>
        <li>
          <a class="themes" href="{{ url('themes') }}">
            <span>{# L10n: Formerly: Clusters #}{{ _('Themes') }}</span>
          </a>
        </li>

        <li><a class="issues" href="{{ url('website_issues') }}"><span>{{ _('Sites') }}</span></a></li>
      </ul>
    </div></div>

    <div id="body"><div class="funnel">
      {% block content %}{% endblock %}
    </div></div>

    <!-- start #footer -->
    <footer id="footer">
      <div id="footer-contents" class="funnel">
        <div id="copyright">
          {% include 'includes/lang_switcher.html' %}
          <p id="footer-links">
            <a href="http://www.mozilla.com/en-US/privacy-policy.html">{{ _('Privacy Policy') }}</a> &nbsp;|&nbsp;
            <a href="http://www.mozilla.com/en-US/about/legal.html">{{ _('Legal Notices') }}</a> &nbsp;|&nbsp;
            <a href="http://www.mozilla.com/en-US/legal/fraud-report/index.html">{{ _('Report Trademark Abuse') }}</a>
          </p>
          <p>
            {% trans legal_url='http://www.mozilla.com/en-US/about/legal.html#site',
                     license_url='http://creativecommons.org/licenses/by-sa/3.0/' %}
              Except where otherwise <a href="{{ legal_url }}">noted</a>,
              content on this site is licensed under the <br/>
              <a href="{{ license_url }}">Creative Commons Attribution Share-Alike License v3.0</a>
              or any later version.
            {% endtrans %}
          </p>
        </div>
      </div>
    </footer>
    <!-- end #footer -->

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/init.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/input.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
