<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Welcome!{% endblock %} &mdash; Firefox Input</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ MEDIA_URL }}css/reporter.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
    {% block extra_headers %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    <nav id="nav-access">
    <ul>
      <li><a href="#main-content">Proceed to main content</a></li>
      <li><a href="#footer">Proceed to footer</a></li>
    </ul>
    </nav>

    <div id="wrapper">
      <header>
        <div class="stripe-shadow"><div></div></div>
        <div class="logobox clearfix">
          <a class="logo" href="{{ url('dashboard') }}">
            <img src="{{ MEDIA_URL }}img/fx-white.png" alt="Firefox" class="fxlogo"/>
            <h1>Input Dashboard</h1>
          </a>
        </div>
        <div class="stripe"></div>
      </header>

      <div id="doc" class="clearfix">
        <section id="main-content">
          {% block content %}
          {% endblock %}
        </section>
      </div><!-- end #doc -->
    </div><!-- end #wrapper -->

    <!-- start #footer -->
    <footer id="footer">
      <div id="footer-contents">
        <div id="copyright">
          <p id="footer-links">
            <a href="http://www.mozilla.com/en-US/privacy-policy.html">Privacy Policy</a> &nbsp;|&nbsp;
            <a href="http://www.mozilla.com/en-US/about/legal.html">Legal Notices</a> &nbsp;|&nbsp;
            <a href="http://www.mozilla.com/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a>
          </p>
          <p>Except where otherwise <a href="http://www.mozilla.com/en-US/about/legal.html#site">noted</a>,
          content on this site is licensed under the <br/>
          <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
            Commons Attribution Share-Alike License v3.0</a> or any later version.</p>
        </div>
      </div>
    </footer>
    <!-- end #footer -->

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/init.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/reporter.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
