<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1" />
    <title>{% block page_title %}{{ _('Welcome') }}{% endblock %} :: Firefox Input</title>

    {% block site_css %}
    {{ css('common_mobile') }}
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png"/>
    {% block feeds %}{% endblock %}
    {% block extra_headers %}{% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}">
    {% block full_header %}
    <div id="header">
      <h1><a href="{{ url('dashboard') }}">
        <strong>Firefox Input</strong> {{ _('Dashboard') }}
      </a></h1>
      {% block header %}{% endblock %}
    </div>
    {% endblock %}

    <div id="body">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    {% block site_js %}
    {{ js('common_mobile') }}
    {% endblock %}
    {% block js %}{% endblock %}

    {% include "includes/webtrends_mobile.html" %}
  </body>
</html>
