{% extends "base.html" %}

{% block content %}
<div class="block prose">
  <h2>{% block page_title %}{{ _('CSRF Protection Error') }}{% endblock %}</h2>

  <p>
    {% trans %}
    There was an error verifying your CSRF token. Your request could not be
    processed. We apologize for the inconvenience!
    {% endtrans %}
  </p>

  <p>
    {% trans cookies_url='http://support.mozilla.com/kb/Cookies' %}
    The most likely cause of this error is that your browser is set up
    <strong>not to accept cookies</strong> from us. Please follow
    <a href="{{ cookies_url }}">these instructions</a> to enable cookies in
    Firefox, then try again.
    {% endtrans %}
  </p>

  <p>
    {% trans bug_url='https://bugzilla.mozilla.org/enter_bug.cgi?product=Webtools&component=Input' %}
    If the problem persists, please <a href="{{ bug_url }}">file a bug.</a> Thanks!
    {% endtrans %}
  </p>
</div>
{% endblock %}
