{% extends "base_2col.html" %}

{% block body_id %}dashboard{% endblock %}

{% block col1 %}
  {% set action=url('dashboard') %}
  {% include "includes/filters.html" %}
{% endblock col1 %}

{% block col2 %}
  {% include "includes/welcome.html" %}

  {% if total %}
  <div class="block">
    <h2>{{ _('Experience Ratings') }}</h2>
    {% include "search/includes/ratings_chart.html" %}
  </div>
  <div class="block charts-dashboard">
    <h2>{{ _('Average Ratings Over Time') }}</h2>
    {% for chart in avg_charts %}
    <div class="chart-outer">
      <h3>{{ chart.rating.pretty }}</h3>
      <div class="chart" id="{{ chart.rating.short }}-chart"
           {# L10n: A quasi strftime string for a full date. #}
           data-timeformat="{{ _('%e %B %Y') }}"
           {# L10n: A quasi strftime string for a short date (no year). #}
           data-timeformat-short="{{ _('%e %b') }}"
           data-tooltip="{{ _('{day}<br/>Average of {num}') }}"
           data-chart-config="{{ chart.json }}">
        {{ _('Loading chart data.') }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <div class="block">
      <h2>{{ _('No results found') }}</h2>
    </div>
  {% endif %}
{% endblock %}

