{% macro fieldbox(name, show_errors=True): %}
  {% with field = search_form[name] %}
    <div class="fieldWrapper wrap_{{ field.name }}">
      {{ field.label_tag()|safe }} {{ field|safe }}
      {% if show_errors %}{{ field.errors|safe }}{% endif %}
    </div>
  {% endwith %}
{% endmacro %}

<div id="search_form">
  <form method="get" action="{{ url('search') }}">
    <div id="search_basic" class="clearfix">
      {{ fieldbox('q') }}

      {{ fieldbox('product', show_errors=False) }}
      {{ fieldbox('version', show_errors=False) }}

      <button type="submit">{{ _('Search') }}</button>
    </div>

    <div>
      {{ search_form.product.errors|safe }}
      {{ search_form.version.errors|safe }}
    </div>

    <div id="show_search_adv" class="active">
      <a href="#">{{ _('Advanced') }}</a>
    </div>

    <div id="search_adv" class="clearfix">
      {{ fieldbox('sentiment') }}
      {{ fieldbox('os') }}
      {{ fieldbox('locale') }}
      {{ fieldbox('date_start') }}
      {{ fieldbox('date_end') }}
    </div>
  </form>
</div>
