{% extends "base.html" %}
{% load math %}
{% load smilies %}

{% block body_id %}search{% endblock %}

{% block content %}
<h1><a href="{% url dashboard %}">Firefox Input</a> &ndash; Search Results</h1>


<div id="search_box">
  <div id="search_options">o hai</div>

  <div id="search_form">
    <form method="get" action="{% url search %}">
      <label>Search Issues: {{ form.q }}</label>
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<div id="results" class="container">
  <ul>
    {% for result in page.object_list %}
    <li>
    {% if result.object.positive %}
      {% smiley "happy" %}
    {% else %}
      {% smiley "sad" %}
    {% endif %}
      {{ result.object.description }}
    </li>
    {% empty %}
    <li>No search results found.</li>
    {% endfor %}
  </ul>
</div>

<div id="overview">
  <div id="sentiment" class="container clearfix">
    <h2>User Sentiment</h2>
    <div>
      <div class="emotion {{ sent.sentiment }}">{% smiley sent.sentiment %}</div>
      <div class="response total" style="width: 75%">{{ sent.total }} total responses</div>
      {% if sent.total > 0 %}
        <div class="response happy" style="width: {{ "happy"|stnew|stpush:sent.happy|stpush:sent.total|stdiv|stpush:75|stmult|stget }}%" >{{ sent.happy }} happy</div>
        <div class="response sad" style="width: {{ "sad"|stnew|stpush:sent.sad|stpush:sent.total|stdiv|stpush:75|stmult|stget }}%">{{ sent.sad }} sad</div>
      {% endif %}
    </div>
  </div>

  <div id="trends" class="container clearfix">
    <h2>Trends</h2>
    <div class="terms">
      {% for term in terms %}
      <span class="term w{{ term.weight }}">{{ term.term }}</span>
      {% endfor %}
    </div>
  </div>

  <div id="demo" class="container clearfix">
    <h2>Demographics</h2>
    <div class="ajaxy"></div>
    <div class="prototype">
      <dl class="oses">
        <dt>OS</dt>
        {% for item in demographics.os %}
        <dd>{{ item.name }}: <b>{{ item.count }}</b></dd>
        {% endfor %}
      </dl>
      <dl class="locales">
        <dt>Locale</dt>
        {% for item in demographics.locale %}
        <dd>{{ item.locale }}: <b>{{ item.count }}</b></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

{% endblock %}
