<div id="search_form">
  <form method="get" action="{% url search %}">
    {% for field in search_form %}
      {% if forloop.counter0 == 1 %}
      {# wrap advanced fields so we can show/hide them #}
      <div id="search_adv">
      {% endif %}

      <div class="fieldWrapper wrap_{{ field.name }}">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
        {% if forloop.counter0 == 0 %}
        <button type="submit">Search</button>
        <a href="#" id="show_search_adv">Advanced</a>
        {% endif %}
      </div>

      {% if forloop.last %}
      <button type="submit">Search</button>
      </div>
      {% endif %}
    {% endfor %}
  </form>
</div>
