{% extends "base.html" %}

{% block body_id %}search{% endblock %}

{% block page_title %}{{ _('Search Results') }}{% endblock %}

{% block feeds %}
<link href="{{ search_url(defaults=form.data, feed=True) }}"
      type="application/atom+xml" rel="alternate"
      title="{{ _('ATOM feed for this search') }}" />
{% endblock %}

{% block content %}
<div class="col left">

  {% if opinions %}
  {{ big_count_block(opinion_count) }}
  {% endif %}

  <form id="filters" class="filters segments block" method="get" action="{{ url('search') }}">

    <input type="hidden" name="product" value="{{ request.default_app.short }}" />

    {{ when_block(form=form, selected=period, defaults=defaults) }}

    {{ overview_block(sent, defaults=defaults) }}

    {# TODO URL provided box #}

    {{ versions_block(versions, defaults=defaults) }}

    {{ platforms_block(demo.os, opinion_count, defaults=defaults) }}

    {{ locales_block(demo.locale, opinion_count, defaults=defaults) }}

  </form>
</div><!--

--><div class="col middle wide">
  <div id="messages" class="block">
    <h2>{{ _('Search Results') }}</h2>

    <form id="kw-search" method="get" action="{{ url('search') }}">
      {% for key, val in defaults.items() %}
        {% if key == 'q' %}{% continue %}{% endif %}
        <input type="hidden" name="{{ key }}" value="{{ val }}" />
      {% endfor %}
      {{ form.q|safe }}
    </form>

    {% if page and page.paginator.count == 1000 %}
    <div id="message-warning">
      {% trans %}
      Due to software constraints, we can only show the last 1000 messages for
      this search query.
      {% endtrans %}
    </div>
    {% endif %}

    {{ message_list(opinions, defaults=defaults) }}

    {% if page and page.has_other_pages() %}
    <div class="pager">
      {% with link_txt = _('&laquo; Older Messages')|safe %}
        {% if page.has_next() %}
        <a href="{{ search_url(
          default =form.data, extra={'page': page.next_page_number()})
          }}" class="next">{{ link_txt }}</a>
        {% else %}
        <span class="next inactive">{{ link_txt }}</span>
        {% endif %}
      {% endwith %}

      {% with link_txt = _('Newer Messages &raquo;')|safe %}
        {% if page.has_previous() %}
        <a href="{{ search_url(
          defaults=form.data, extra={'page': page.previous_page_number()})
          }}" class="prev">{{ link_txt }}</a>
        {% else %}
        <span class="prev inactive">{{ link_txt }}</span>
        {% endif %}
      {% endwith %}
    </div>
    {% endif %}
  </div>
</div><!--

--><div class="col right">

  <div id="trends" class="trends segments block">

    {# TODO terms, bug 582606
    {{ themes_block(terms) }}#}

    {# TODO fetch and show sites
    {{ sites_block(sites) }}
    #}

  </div>
</div>

{% endblock %}
