<div id="search_form">
  <form method="get" action="{{ url('search') }}">
    <div id="search_links">
      <button type="submit">Search</button>
      <a href="#" id="show_search_adv">Advanced</a>
    </div>
    {% for field in search_form %}
      {% if loop.index0 == 3 %}
      {# wrap advanced fields so we can show/hide them #}
      <div id="search_adv">
      {% endif %}

      <div class="fieldWrapper wrap_{{ field.name }}">
        {{ field.errors|safe }}
        {{ field.label_tag()|safe }} {{ field|safe }}
      </div>

      {% if loop.last %}
      </div>
      {% endif %}
    {% endfor %}
  </form>
</div>
