{% extends "search_base.html" %}

{% block body_id %}search{% endblock %}

{% block page_title %}Search Results{% endblock %}

{% block title_text %}Search Results{% endblock %}

{% block content %}
<div id="search_box" class="clearfix">
  <div id="search_options">
    {% if page.object_list %}
    {% if query %}Description: <span class="opt">"{{ query }}"</span>;{% endif %}
    Dates: <span class="opt">{{ form.cleaned_data.date_start }}
      &ndash; {{ form.cleaned_data.date_end }}</span>
    <br/>
    Locale: <span class="opt">{{ form.cleaned_data.locale|default("all", true) }}</span>;
    OS: <span class="opt">{{ form.cleaned_data.os|default("all", true) }}</span>
    {% endif %}
  </div>

  {% with search_form = form %}{% include "search/search_form.html" %}{% endwith %}
</div>

<div id="results" class="container">
  <ul>
    {% if page.object_list %}
      {% with opinions = page.object_list %}
        {% include "dashboard/messages.html" %}
      {% endwith %}
    {% else %}
    <li>No search results found.</li>
    {% endif %}
  </ul>

  {% if page.object_list %}
    <nav class="pagination">
      <span class="step-links">
        {% if page.has_previous() %}
        <a href="{{ search_url(
          defaults=form.data, extra={'page': page.previous_page_number()})
          }}" class="prev">&laquo; previous</a>
        {% endif %}

        {% if page.has_next() %}
        <a href="{{ search_url(
          defaults=form.data, extra={'page': page.next_page_number()})
          }}" class="next">next &raquo;</a>
        {% endif %}

        <span class="current">
          page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>
      </span>
    </nav>
  {% endif %}
</div>

<div id="overview">
  <div id="sentiment" class="container clearfix">
    <h2>Overview</h2>
    <div>
      {% include "dashboard/sentiments.html" %}
    </div>
  </div>

  <div id="trends" class="container clearfix">
    <h2>Trends</h2>
    <div class="terms">
      {% include "dashboard/trends.html" %}
    </div>
  </div>

  <div id="demo" class="container clearfix">
    <h2>Demographics</h2>
    <div>
      {% include "dashboard/demographics.html" %}
    </div>
  </div>
</div>
{% endblock %}
