{% extends "base.html" %}

{% block page_title %}{{ _('Clusters of Opinions') }}{% endblock %}
{% block body_id %}cluster{% endblock %}

{% block content %}
{% if clusters %}
<ul>
  {% for cluster in clusters %}
  <li>
  <h3>
    {{ cluster.num_opinions }} opinions similar to
    <q>{{ cluster.pivot.description }}</q>
  </h3>
  {# TODO davedash: make the number configurable. #}
  {# L10n: This is referring to the first few clusters. #}
  <p>{{ _('Showing the first {count}')|f(count=5) }}:</p>
    {% with opinions = cluster.opinions.all()[:5] %}
    {% include 'dashboard/messages.html' %}
    {% endwith %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{{ _('No clusters of opinions found.') }}</p>
{% endif %}
{% endblock %}
