{% extends "base.html" %}

{% block page_title %}{{ _('Clusters of Opinions') }}{% endblock %}
{% block body_id %}cluster{% endblock %}
{% block header_links %}{{ header_links('clusters') }}{% endblock %}

{% block content %}
  <h2>{{ _('{0} opinions for Firefox {1} {2}')|f('happy', '4', 'win') }}</h2>
  {% for cluster in clusters %}
    <div class="middle"><div id="messages" class="block">
      <h3>
        {{ _('{0} opinions similar to <q>{1}</q>')
           |f(cluster.num_opinions, cluster.pivot.description)
           |safe }}
      </h3>
      {% if cluster.num_opinions > 5 %}
      <p>{{ _('Showing the first {count}')|f(count=5) }}:</p>
      {% endif %}

      {{ message_list(cluster.opinions.all()[:5]) }}
  </div></div>
    {% endfor %}

{% if not clusters %}
  <div class="middle"><div id="messages" class="block">
      <ul class="messages"><li id="message-warning">
        {{ _('No clusters of opinions found.') }}
      </li></ul>
  </div></div>
{% endif %}

{% endblock %}
