
<article id="{{ type }}">
  <header>
    <h1>
      {% if type == 'happy' %}
        {{ _('Firefox Made Me Happy') }}
      {% elif type == 'sad' %}
        {{ _('Firefox Made Me Sad') }}
      {% else %}
        {{ _('I Have an Idea for Firefox') }}
      {% endif %}
    </h1>
    <p>
      {% if type == 'happy' %}
        {{ _("Super! It's great to hear that you like our browser.") }}
      {% elif type == 'sad' %}
        {{ _('We are sorry that you have not had a good experience with our browser. Please tell us why, so we can fix it.') }}
      {% else %}
        {{ _('Have an idea how Firefox could be better? Let us know.') }}
      {% endif %}
    </p>
    <nav>
      <a href="#intro" title="Go Back">{{ _('Go Back') }}<strong></strong></a>
    </nav>
  </header>
  
  <section class="content">
    <form action="{{ post_url }}" method="post" autocomplete="off">

      {{ csrf() }}
      <div class="fields">
        <div>
          {{ form.description.label_tag() }}
          <p>{{ form.description }}</p>
          <div id="{{ type }}-description-counter" class="characters-remaining"></div>
          {{ form.description.errors }}
        </div>

        {% if type != 'idea' %}
        <div>
          <label for="{{ type }}-with-url">
            <input id="{{ type }}-with-url" type="checkbox" name="with-url" />
            {% if type == 'happy' %}
              {{ _('Include the URL of a site that worked better.') }}
            {% elif type == 'sad' %}
              {{ _('Include the URL of the site with the problem.') }}
            {% endif %}
          </label>
          <p>{{ form.url }}</p>
          {{ form.url.errors }}
        </div>
        {% endif %}

        <div class="privacy-wrapper">
          <p class="privacy">
            <span>
              {% trans %}
              To protect your privacy, please ensure that no
              personally identifiable information is included in
              your feedback.
              {% endtrans %}
            </span>
          </p>
        </div>
      </div>

      {{ form.errors['__all__'] }}

      <div id="{{ type }}-submit" class="submit">
        <a href="#" data-waittext="{{ _('Submitting Feedback') }}">
          <span>{{ _('Submit Feedback') }}</span>
        </a>
        <span></span>
        <noscript>
          <button type="submit">{{ _('Submit Feedback') }}</button>
        </noscript>
      </div>

      {% if type != 'idea' %}
      <div class="alt-idea">
        <em></em>
        <span>
          {{ _('If you have an idea to offer us instead, please use our') }}
          <a href="#idea"><span></span>{{ _('suggestion box') }}</a>.
        </span>
      </div>
      {% endif %}

    {% for hidden in form.hidden_fields() %}
      {{ hidden }}
    {% endfor %}

    </form>
  </section>
  
  <span class="fade"></span>
</article>
