{% extends "base_noheader.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}
{% block body_id %}feedback{% endblock %}

{% block content %}

{{ smiley(positive and "happy" or "sad") }}

<div id="feedbackform">
  {% if positive %}
    <h2>
      {% trans %}
      Super! It's great to hear that you like our pre-released browser.
      Please explain what you specifically like!
      {% endtrans %}
    </h2>
  {% else %}
    <h2>
      {% trans %}
      We are sorry that you have not had a good experience with our browser.
      Please tell us why, so we can improve it!
      {% endtrans %}
    </h2>
  {% endif %}
  <form method="post" action="" autocomplete="off">
    {{ csrf() }}
    {{ form.description.errors|safe }}
    <p>{{ form.description|safe }}</p>

      {{ form.url.errors|safe }}
      <p>
        {% if positive %}
          <label>{{ form.add_url|safe }}
            {% trans %}
            Know of a website that works better in this beta than it did in
            earlier versions of Firefox? Please add the URL, so we can keep
            track!
            {% endtrans %}
          </label>
        {% else %}
          <label>{{ form.add_url|safe }}
            {% trans %}
            Had an issue with a specific website? Please add the URL, so we can
            find the issue faster!
            {% endtrans %}
          </label>
        {% endif %}

        {{ form.url|safe }}
      </p>

    {% for hidden in form.hidden_fields() %}
      {{ hidden|safe }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors|safe }}
      {% endif %}
    {% endfor %}

    {{ form.errors['__all__']|safe }}

    <aside>
      <span>{{ _('Please ensure that there is no personally identifiable information here.') }}</span>
    </aside>
    <button type="submit">{{ _('Submit Feedback') }}</button>
  </form>
</div>

{% endblock %}
