{% extends "base_noheader.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}
{% block body_id %}feedback{% endblock %}

{% block content %}

{% if type == OPINION_PRAISE.id: %}
  {{ smiley("happy", "feedback_submit") }}
{% elif type == OPINION_ISSUE.id: %}
  {{ smiley("sad", "feedback_submit") }}
{% elif type == OPINION_SUGGESTION.id %}
<span title="{{ OPINION_SUGGESTION.pretty }}" class="feedback_submit suggestion"></span>
{% endif %}

<div id="{{ div_id }}">
  <h2>
  {% if type == OPINION_PRAISE.id: %}
    {% trans %}
    Super! It's great to hear that you like our pre-released browser.
    Please explain what you specifically like!
    {% endtrans %}
  {% elif type == OPINION_ISSUE.id: %}
    {% trans %}
    We are sorry that you have not had a good experience with our browser.
    Please tell us why, so we can fix it!
    {% endtrans %}
  {% elif type == OPINION_SUGGESTION.id: %}
    {% trans %}
    So, you'd like to make a suggestion on how to enhance Firefox? Awesome!
    Please make your suggestion below:
    {% endtrans %}
  {% endif %}
  </h2>

  <form method="post" action="" autocomplete="off">
    {{ csrf() }}
    {{ form.description.errors }}

    <p>{{ form.description }} <span id="count" data-max="{{
      form.fields.description.max_length }}">{{ form.fields.description.max_length }}</span></p>

    {% if type in (OPINION_PRAISE.id, OPINION_ISSUE.id): %}
      {{ form.url.errors }}
      <p>
        {% if type == OPINION_PRAISE.id: %}
          <label>{{ form.add_url }}
            {% trans %}
            Know of a website that works better in this beta than it did in
            earlier versions of Firefox? Please add the URL, so we can keep
            track!
            {% endtrans %}
          </label>
        {% elif type == OPINION_ISSUE.id: %}
          <label>{{ form.add_url }}
            {% trans %}
            Had an issue with a specific website? Please add the URL, so we can
            find the issue faster!
            {% endtrans %}
          </label>
        {% endif %}
        {{ form.url }}
      </p>
    {% endif %}

    {% for hidden in form.hidden_fields() %}
      {{ hidden }}
      {% if hidden.errors %}
        {{ hidden.name }}:
        {{ hidden.errors }}
      {% endif %}
    {% endfor %}

    {{ form.errors['__all__'] }}

    <aside>
      <span>{{ _('Please ensure that there is no personally identifiable information here.') }}</span>
    </aside>
    <button id="submit_button" type="submit">{{ _('Submit Feedback') }}</button>
  </form>
</div>

{% if type in (OPINION_PRAISE.id, OPINION_ISSUE.id): %}
  <p class="feedback_suggestion">
    <img src="{{ MEDIA_URL }}img/suggestion-box-idea-medium.png" />
    {% trans %}
    If you have an idea to offer us instead, please send it to us through our <a
      href="{{ url_suggestion }}">suggestion box</a>!
    {% endtrans %}
  </p>
{% endif %}

{% endblock %}
