{% extends "base_noheader.html" %}

{% block page_title %}{{ _('Submit Feedback') }}{% endblock %}
{% block body_id %}feedback{% endblock %}

{% block content %}
<h1>{{ _('It\'s great to hear you want to help Mozilla make your experience better!') }}</h1> 

<h4>{{ _('Please choose one of the following types of feedback that you would like to submit to us:') }}</h4>

<div class="feedback_index happy">
   <a href="happy"><div 
       title="{{ _('Firefox makes me happy because ...') }}" 
       class="smiley happy feedback_index">&#9786;</div></a>
   <p>{{ _('Firefox makes me happy because ...') }}</p>
</div>
<div class="feedback_index sad"> 
   <a href="sad"><div 
       title="{{ _('Firefox makes me sad because ...') }}" 
       class="smiley sad feedback_index">&#9786;</div></a>
   <p>{{ _('Firefox makes me sad because ...') }}</p>
</div>

<h4><img src="http://mozcom-cdn.mozilla.net/img/tignish/about/logo/download/logo-only-preview.png" align="absmiddle"/>If you need help or have a problem with Firefox, please visit our <a href="http://support.mozilla.com">support page</a>.</h4>

{% endblock %}
