{% extends "base_noheader.html" %}

{% block page_title %}{{ _('Download Beta') }}{% endblock %}
{% block body_id %}need-beta{% endblock %}

{% block content %}
<p>
  {% trans %}
  Oh! So, you want to offer us feedback on the next version of Firefox. Thank
  you, but you'll need to be on our latest beta.
  {% endtrans %}
</p>
<p>
  {% trans url=('http://www.mozilla.com/%s/firefox/all-beta.html' % LANG) %}
  To do that, simply go to our download page and install/update to the
  <a href="{{ url }}">latest Firefox Beta!</a>
  {% endtrans %}
</p>
{% endblock %}
