{% extends "base_noheader.html" %}

{% block page_title %}Thanks for Your Feedback{% endblock %}
{% block body_id %}thanks{% endblock %}

{% block content %}
<h1>Thanks for sending us your feedback!</h1>

<h2>If you want to look at where your feedback was sent and eventually
  reported to, take a look at our <a href="{{ url('dashboard') }}">
    Firefox Input Dashboard</a>.</h2>

<div id="next-steps">
  <p>Find out the latest news from Mozilla:</p>
  <nav>
    <div class="tw"><a href="http://twitter.com/firefox/">Twitter</a></div>
    <div class="fb"><a href="http://www.facebook.com/group.php?v=wall&gid=173578463110">Facebook</a></div>
    <div class="moz"><a href="http://planet.mozilla.org">Planet Mozilla</a></span></div>
  </nav>
</div>
{% endblock %}
