{% extends "base.html" %}

{% block site_css %}{{ css('feedback') }}{% endblock %}
{% block site_js %}{{ js('feedback') }}{% endblock %}

{% block page_title %}{{ _('Thanks') }}{% endblock %}

{% block site_header %}{% endblock %}


{% block content %}

<article id="thanks" class="visible">
  <header>
    <h1>{{ _('Thanks for Your Feedback') }}</h1>
    <p>
      <span>{{ _('Your feedback will be used to create a') }}</span>
      <span>{{ _('better experience in future releases of Firefox.') }}</span>
    </p>
  </header>
  
  <div class="content">
    <div>
      <h3>{{ _('Have more to say?') }}</h3>
      <p>
        {% trans fb_url='/feedback' %}
        Feel free to <a href="{{ fb_url }}">submit more feedback</a>
        {% endtrans %}
      </p>
    </div>

    <div>
      <h3>Want to see where your feedback goes?</h3>
      <p>
        {% trans dash_url='/' %}
        Visit the <a href="{{ dash_url }}">Firefox Feedback Dashboard</a>
        {% endtrans %}
      </p>
    </div>

    <div>
      <h3>{{ _('Find the latest news about Firefox.') }}</h3>
      <ul>
        <li><a id="twitter" href="http://twitter.com/firefox"><span>Twitter</span></a></li>
        <li><a id="facebook" href="http://www.facebook.com/Firefox"><span>Facebook</a></span></li>
        <li><a id="planet" href="http://planet.mozilla.org/"><span>Planet Mozilla</a></span></li>
      </ul>
    </div>
  </div>
  
  <span class="fade"></span>
</article>

{% endblock %}

{% block site_footer %}
{% include "includes/footer_feedback.html" %}
{% endblock %}
