{% extends "base.html" %}

{% block page_title %}Thanks for Your Feedback{% endblock %}
{% block body_id %}thanks{% endblock %}

{% block content %}
<h1>Thanks for sending us your feedback!</h1>

<div id="next-steps">
  <p>Find out the latest news from Mozilla:</p>
  <ul>
    <li><a href="http://twitter.com/firefox/">Twitter</a></li>
    <li><a href="http://www.facebook.com/group.php?v=wall&gid=173578463110">Facebook</a></li>
    <li><a href="http://planet.mozilla.org">Planet Mozilla</a></li>
  </ul>
</div>
{% endblock %}
