{% extends "base_mobile.html" %}

{% block header %}
<div id="search" class="block">
  <form id="kw-search" method="get" action="{{ url('search') }}">
    <input type="hidden" name="product" value="{{ request.default_prod.short }}" />
    {{ search_form.q }}
    
    <a id="search-clear" href="#" title="Clear Search">Clear Search</a>
  </form>
</div>

<nav id="tabs">
  <ul>
    <!--
    --><li><a id="tab-feed" class="selected" href="#feed">{# Title for the list of messages. #}{{ _('Feed') }}</a></li><!--
    --><li><a id="tab-stats" class="" href="#stats">{{ _('Statistics') }}</a></li><!--
    --><li><a id="tab-trends" class="" href="#trends">{{ _('Trends') }}</a></li><!--
    --><li><a id="tab-settings" class="" href="#settings">{{ _('Settings') }}</a></li><!--
    -->
  </ul>
</nav>
{% endblock %}

{% block content %}
<div id="feed" class="section selected">
  <div class="block">
    {{ message_list(opinions) }}
  </div>

  <div class="pager">
    <!--
    --><span class="button disabled prev">{{ _('&laquo; Newer Feedback')|safe }}</span><!--
    --><a href="{{ search_url() }}" class="button next">{{ _('Older Feedback &raquo;')|safe }}</a><!--
    -->
  </div>
</div>

<form id="filters" class="filters" method="get" action="{{ url('search') }}">
  <div id="stats" class="section">
    <div id="feed-count" class="block">
      <ul id="message-total">
        {{ big_count_block(opinion_count) }}
      </ul>
    </div>

    {{ overview_block(sentiments) }}

    {# TODO "URL provided?" filter #}

    {{ platforms_block(platforms, opinion_count) }}

    {{ locales_block(locales, opinion_count) }}
  </div>

  <div id="trends" class="section">
    {{ themes_block(terms) }}

    {{ sites_block(sites) }}
  </div>

  <div id="settings" class="section">
    <ul>
      <li class="bar">
        <label for="product">{{ _('Product') }}</label>
        <div class="choice select">
          {{ products_block(products, product) }}
        </div>
      </li>
      <li class="bar">
        <label for="">{{ _('Version') }}</label>
        <div class="choice select">
          {{ versions_block(versions, version) }}
        </div>
      </li>

      {{ when_block(form=search_form, selected='1d') }}
      <li>
        <a href="{{ desktop_url }}" class="bar link">
          {{ _('Switch to Desktop Dashboard') }}
        </a>
      </li>
    </ul>
  </div>
</form>
{% endblock %}
