{% extends "base_mobile.html" %}

{% block header %}
<ul>
  <!--
  --><li><a class="selected" href="#feed">{# Title for the list of messages. #}{{ _('Feed') }}</a></li><!--
  --><li><a class="" href="#stats">{{ _('Statistics') }}</a></li><!--
  --><li><a class="" href="#trends">{{ _('Trends') }}</a></li><!--
  -->
</ul>
{% endblock %}

{% block content %}
<div id="feed-count" class="block">
  <ul class="segmented">
    {{ big_count_block(opinion_count) }}
    {{ when_block(form=search_form, selected='1d') }}
  </ul>
</div>

<div id="feed">
  <div id="search" class="block">
    <form id="kw-search" method="get" action="{{ url('search') }}">
      <input type="hidden" name="product" value="{{ request.default_app.short }}" />
      {{ search_form.q|safe }}
    </form>
  </div>

  <div class="block">
    {{ message_list(opinions) }}
  </div>

  <div class="pager">
    <!--
    --><span class="prev"><del>{{ _('&laquo; Newer Feedback')|safe }}</del></span><!--
    --><span class="next"><a href="{{ search_url() }}">{{ _('Older Feedback &raquo;')|safe }}</a></span><!--
    -->
  </div>
</div>

<div id="stats">
  <form id="filters" method="get" action="{{ url('search') }}">
    <input type="hidden" name="product" value="{{ request.default_app.short }}" />

    {{ overview_block(sentiments) }}

    {# TODO "URL provided?" filter #}

    {{ platforms_block(platforms, opinion_count) }}

    {{ locales_block(locales, opinion_count) }}
  </form>
</div>

<div id="trends">
  {{ themes_block(terms) }}

  {{ sites_block(sites) }}
</div>
{% endblock %}
