<div class="block collapsible filter-group" id="filter_type">
  <h2><a class="toggle" href="#">{{ _('Type of Feedback') }}</a></h2>

  <ul class="collapsee filters bars">
    {% if defaults['sentiment'] not in ('sad', 'ideas'): %}
      {% with sel = (defaults['sentiment'] == 'happy') %}
      {{ mobile_bar(name='sentiment', id='praise_bar', value='happy',
          selected=sel, count=sent.happy, total=sent.total,
          label=_('Praise')) }}
      {% endwith %}
    {% endif %}

    {% if defaults['sentiment'] not in ('happy', 'ideas'): %}
      {% with sel = (defaults['sentiment'] == 'sad') %}
      {{ mobile_bar(name='sentiment', id='issue_bar', value='sad',
          selected=sel, count=sent.sad, total=sent.total,
          label=_('Issues')) }}
      {% endwith %}
    {% endif %}

    {% if defaults['sentiment'] not in ('happy', 'sad'): %}
      {% with sel = (defaults['sentiment'] == 'ideas') %}
      {{ mobile_bar(name='sentiment', id='idea_bar', value='ideas',
          selected=sel, count=sent.ideas, total=sent.total,
          label=_('Ideas')) }}
      {% endwith %}
    {% endif %}
  </ul>
</div>
