<div class="block collapsible filter-group" id="filter_type">
  <h2><a class="toggle" href="#">{{ _('Type of Feedback') }}</a></h2>

  <ul class="collapsee filters bars">
    {% if not defaults['sentiment'] == 'sad' %}
      {% with sel = (defaults['sentiment'] == 'happy') %}
      {{ mobile_bar(name='sentiment', id='praise_bar', value='happy',
          selected=sel, count=sent.happy, total=sent.total,
          label=_('Praise')) }}
      {% endwith %}
    {% endif %}

    {% if not defaults['sentiment'] == 'happy' %}
      {% with sel = (defaults['sentiment'] == 'sad') %}
      {{ mobile_bar(name='sentiment', id='issue_bar', value='sad',
          selected=sel, count=sent.sad, total=sent.total,
          label=_('Issues')) }}
      {% endwith %}
    {% endif %}
  </ul>
</div>
