{% macro platform_item(platform, count=0, selected=False) %}
{{ mobile_bar(name='platform', id='platform_%s' % platform, value=platform, selected=selected,
              count=count, total=opinion_count, label=platform_name(platform)) }}
{% endmacro %}

{% if platforms %}
<div class="block collapsible" id="filter_platform">
  <h2><a class="toggle" href="#">{{ _('Platform') }}</a></h2>

  <ul class="collapsee filters bars">

    {% if defaults['platform'] %}
      {{ platform_item(defaults['platform'], selected=True) }}
    {% else %}
      {% for item in platforms %}
        {{ platform_item(item.platform, item.count) }}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
